[data-carousel="spotlight-home"]{
    // padding-bottom: 50px;

    .owl-stage{
        padding-bottom: 50px;
    }

    .slick-list{
        padding: 15px 0!important;
    }
    .slick-item{
        padding: 0 15px;

        * {
            background: {
                size: cover;
                position: 50% 50%;
                repeat: no-repeat;
            }
        }
    }

    .slick-dots{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        list-style: none;

        li{
            padding: 0 5px;

            button{
                display: block;
                border-radius: 50px;
                color: transparent;
                background-color: rgba(color(black), .35);
                border: none;
                height: 15px;
                width: 15px;
                transition: all .125s ease;
            }

            &.slick-active{
                button{
                    background-color: color(red);
                }
            }
        }
    }
}
