.fd-select-3{
    margin-bottom: 25px;

    >input{
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        width: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
    }

    label{
        font-size: 15px;
        color: #8e8e8e;
        margin-bottom: 5px;
        display: block;
    }

    .fd-select-header{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        background-color: color(white);
        border-radius: 4px;
        cursor: pointer;
        position: relative;

        .fd-svg{
            height: 20px;
            width: 20px;
            margin: 0 25px 0 15px;
        }

        .fd-svg:not(.arrow){
            @include change-svg-color(color(pink));
        }

        .arrow{
            position: absolute;
            right: 0;
            top: 15px;
        }

        strong{
            margin-right: 5px;
        }
        span{
            margin-bottom: 0;
            line-height: 1;
        }
    }

    .fd-select-body{
        max-height: 0;
        height: 100%;
        overflow: hidden;
        background-color: color(white);
        transition: all .35s ease;

        input{
            border: none;
            border-bottom: 1px solid darken(color(white), 15%);
            border-radius: 0;
            box-shadow: none!important;
            height: 50px;
        }

        a{
            display: block;
            color: color(gray-900);
            padding: 5px 20px;

            &:hover, &.selected{
                color: color(pink);
                background-color: darken(color(white), 10%);
            }
        }
    }

    .fd-select-body-inner{
        max-height: 200px;
        height: 100%;
        overflow: auto;
        background-color: color(white);
        @include scrollbar(darken(color(white), 15%), color(pink), darken(color(white), 10%), color(pink));
    }

    &.active{
        .fd-select-body{
            max-height: 250px;
        }
    }
}
