.mocha-select{
    position: relative;
    z-index: 80;

    .mocha-select-header{
        position: relative;

        span{
            cursor: pointer;
            height: 45px;
            background-color: color(white);
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 15px;
        }

        img{
            position: absolute;
            top: 10px;
            right: 15px;
        }
    }

    .mocha-select-input{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        height: 0;
        width: 0;
    }
    .mocha-select-list{
        background-color: color(white);
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        > ul {
            list-style: none;
            padding: 5px 0;
            max-height: 200px;
            height: 100%;
            overflow: auto;
            margin: 0;

            > li {
                background-color: color(white);
                padding: 0 10px;
                color: color(gray-900);
                cursor: pointer;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 40px;

                &:first-of-type{
                    margin-top: 10px;
                }
                &:last-child{
                    margin-bottom: 10px;
                }

                &:hover, &.selected{
                    background-color: darken(color(white), 10%);
                }

            }
        }
    }

    &.active{
        .mocha-select-list{
            height: auto;
        }
    }
}


.mocha__select{
    position: relative;
    z-index: 10;
    &-header{

    }
    &-input{

    }

    &-list{
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        width: 100%;
        z-index: 50;
        background-color: #fff;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        @include box-shadow(5px 5px 15px rgba(#000, .15));
        padding: 15px 10px;
        list-style: none!important;

        max-height: 200px;
        overflow: auto;
        @include scrollbar(#eee, #ddd, #fff, red);

        display: none;

        li{
            display: block;
            padding: 6px 15px;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover, &:focus{
                background-color: #eee;
            }

            &:not(.d-none):last-of-type{
                border: none;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }
}
