@if $fonts {
  @each $font, $font_name, $weight in $fonts {
    @font-face {
      font-family: '#{$font}';
      src: url('#{$fonts_location}#{$font_name}.eot');
      src: url('#{$fonts_location}#{$font_name}.eot?#iefix') format('embedded-opentype'),
      url('#{$fonts_location}#{$font_name}.woff2') format('woff2'),
      url('#{$fonts_location}#{$font_name}.woff') format('woff'),
      url('#{$fonts_location}#{$font_name}.ttf') format('truetype'),
      url('#{$fonts_location}#{$font_name}.svg') format('svg');
      font-weight: $weight;
      font-style: normal;
    }
  }
}
