@each $name, $color in $colors{
    .bg-#{$name}{
        background-color: #{$color}!important;
    }
}

@each $name, $color in $colors{
    .text-#{$name}{
        color: #{$color}!important;
    }
}


@-moz-keyframes wormsPong {
    25% {
        width: 100%;
    }
    50% {
        width: 0;
        left: auto;
        right: 0;
    }
    75% {
        width: 100%;
    }
    100% {
        width: 0;
        right: auto;
        left: 0;
    }
}
@-webkit-keyframes wormsPong {
    25% {
        width: 100%;
    }
    50% {
        width: 0;
        left: auto;
        right: 0;
    }
    75% {
        width: 100%;
    }
    100% {
        width: 0;
        right: auto;
        left: 0;
    }
}
@keyframes wormsPong {
    25% {
        width: 100%;
    }
    50% {
        width: 0;
        left: auto;
        right: 0;
    }
    75% {
        width: 100%;
    }
    100% {
        width: 0;
        right: auto;
        left: 0;
    }
}
