// criacao [ LOCAIS ]
$fonts_location: '../fonts/';
$images_location: '../images/';
$backgrounds_location: '#{$images_location}backgrounds/';
$icons_location: '#{$images_location}icons/';



// criacao [ PONTOS DE QUEBRA ]
// min
$breakpoints: (
'sm'  :   576px,
'md'  :   768px,
'lg'  :   992px,
'xl'  :   1200px,
'xxl' :   1680px
) !default;


// criacao [ VARIAVEIS ]
// [ VARIAVEIS > TAMANHO ]
$browser-context: 16; // utilizada nas funcoes ( em, rem )
$gutter: 15px;
$columns: 12;


// [ VARIAVIES > ANIMACAO ]
$timing: .15s;

$ease: ease;
$ease-out: cubic-bezier(0.91, 0.12, 0.86, 0.29);
$fast-in: cubic-bezier(0, 0.96, 0, 0.89);
$cubic-default: cubic-bezier(0.22, 0.55, 0.38, 0.84);

// criacao [ VARIAVEIS > CORES ]
// social media colors
$linkedin-color: #8D6CAB;
$facebook-color: #1d3469;
$google-color: #dd4b39;
$youtube-color: #cd201f;
$instagram-color: #e95950;

$colors: (
    white : #fff,
    gray-100: #d7d7d7,
    gray : darken(#fff, 50%),
    gray-900 : #252525,
    gray-800 : #353535,
    black : #000,
    light-pink : #ffe8e9,
    pink : #d34a54,
    dark-pink: #a7434b,
    red : #b11917,
    gold: #f7ba54,
    green: #6bbc8d
);


// cria o array de fonts separados por espaco
// ex: font_name font_name font_name
// $fonts: false;
$fonts: (
    'Gotham' Gotham-Thin 100,
    'Gotham' Gotham-Light 300,
    'Gotham' Gotham-Book 400,
    'Gotham' Gotham-Medium 500,
    'Gotham' Gotham-Bold 700,
    'Gotham' Gotham-Black 900
);

// create [ WEBFONTS ]
$open_sans: 'Open Sans';
$montserrat: 'Montserrat';
$quicksand: 'Quicksand';
$gotham: 'Gotham';
