.cards{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .card{
        max-width: 284px;
        width: 100%;
        margin-bottom: 60px;
        padding-bottom: 30px;
    }

    &[data-grid="list"]{

        @include media('sm'){
            .card{
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
                margin: {
                    left: 0px;
                    right: 0px;
                    bottom: 10px;
                }
                padding-bottom: 0;
                height: auto !important;

                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                flex-direction: row;
                flex-wrap: wrap;

                padding-left: 130px;

                figure{
                    width: 150px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    height: 100%;

                    img{
                        height: 100%;
                        width: auto;
                    }
                }

                .card-badge{
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    margin: 0 auto;
                    left: 20px;
                    transform: translate(0%,-50%);
                }

                .card-body{
                    padding-left: 130px!important;
                    flex: 0 0 100%;
                    position: static;
                }

                .card-footer{
                    display: -webkit-flex;
                    display: -ms-flex;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex: 0 0 100%;
                    padding-left: 130px!important;
                }
            }
        }

        @include media('lg'){
            .card{
                .card-body{
                    flex: 1 1 auto;
                }
                .card-footer{
                    flex: 0 0 200px;
                    padding: 0 15px!important;
                }
            }
        }
    }

    &[data-grid="grid"]{
        &[data-columns="3"]{
            @include media('sm'){
                margin: 0 -5px;
                flex-direction: row;
                align-items: flex-start;
                flex-wrap: wrap;

                .card{
                    flex: 0 0 calc(50% - 10px);
                    max-width: calc(50% - 10px);
                    width: calc(50% - 10px);
                    margin: {
                        left: 5px;
                        right: 5px;
                    }
                }
            }

            @include media('lg'){
                .card{
                    flex: 0 0 calc(100% / 3 - 10px);
                    max-width: calc(100% / 3 - 10px);
                    width: calc(100% / 3 - 10px);
                }
            }
        }

        &[data-columns="4"]{
            @include media('sm'){
                margin: 0 -5px;
                flex-direction: row;
                align-items: flex-start;
                flex-wrap: wrap;

                .card{
                    flex: 0 0 calc(50% - 10px);
                    max-width: calc(50% - 10px);
                    width: calc(50% - 10px);
                    margin: {
                        left: 5px;
                        right: 5px;
                    }
                }
            }

            @include media('lg'){
                .card{
                    flex: 0 0 calc(100% / 3 - 10px);
                    max-width: calc(100% / 3 - 10px);
                    width: calc(100% / 3 - 10px);
                }
            }

            @include media('xl'){
                .card{
                    flex: 0 0 calc(100% / 4 - 10px);
                    max-width: calc(100% / 4 - 10px);
                    width: calc(100% / 4 - 10px);
                }
            }
        }
    }
}

.card{
    border: none;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 30px;

    figure{
        height: 80px;
        overflow: hidden;

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .card-img-top{
            width: 100%;
        }

        &.overlay{
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(color(black), .85);
            }
        }
    }
    .card-body{
        position: relative;
        z-index: 3;
    }

    .card-badge{
        background-color: #fff;
        height: 71px;
        max-width: 195px;
        margin: -71px auto 30px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        @include box-shadow(0 0 25px rgba(color(black), .15));

        img{
            width: auto!important;
            max-width: 100%;
        }
    }

    .card-title{
        font-weight: bold;
        margin-bottom: 5px;
        color: color(gray-900);
        font-size: 16px;
    }
    .card-text{
        font-size: 13px;
        white-space: nowrap;
        color: color(gray-900);
    }

    .card-title, .card-text{
        &:hover{ color: color(pink)}
    }

    .card-value{
        > *{
            display: block;
            font-size: 12px;
            line-height: 1.2;
            color: color(gray-900);
        }
        span{

        }
        strong{
            color: color(pink);
            font-size: percentage( 18px / 12px );
        }
        small{
            font-size: percentage( 9px / 12px );
        }
    }

    .card-footer{
        border: none;
        background-color: transparent;

        p{
            font-size: 12px;
            color: color(gray-900);
            text-align: center;
        }
    }

    .btn{
        color: color(gray-900);
        background-color: color(white);
        border: 1px solid color(gray-900);
        border-radius: 2px;
        font-size: 12px;
        padding: 0;
        width: 140px;
        height: 38px;

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .125s ease;

        &:hover{
            background-color: color(pink);
            border-color: color(pink);
            color: color(white);
        }
    }
}
