#filterCollapse{
    @include media('md'){
        display: block !important;
        margin-bottom: 60px;
        margin-top: 50px;
    }
}
.filter{
    @include media('lg'){
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .left{
        @include media('sm'){
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 30px;

            .fd-select{
                margin-right: 15px;

                &:last-of-type{
                    margin-right: 0;
                }
            }
        }

        @include media('lg'){
            width: auto;
            flex-grow: 1;
        }
    }
}

.fd-select{
    position: relative;
    z-index: 80;
    width: 200px;

    .fd-select-title{
        font-size: 12px;

        color: darken(color(white), 50%);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        span{
            color: color(gray-900);
            font-weight: 900;
            flex: 1 1 auto;
            margin-left: 5px;
            line-height: 1;
        }
    }

    ul{
        list-style: none;
        position: absolute;
        padding: 0;
        top: 110%;
        opacity: 0;
        visibility: hidden;
        box-shadow: 6px 0 15px rgba(color(black), .15);
        background-color: darken(color(white), 5%);
        width: 100%;
        transition: all .125s ease;

        li{
            a{
                padding: 10px;
                font-size: 12px;
                color: color(gray-900);
                display: block;

                &:hover{
                    background-color: darken(color(white), 10%);
                }
            }

            &:first-child{
                margin-top: 10px;
            }
            &:last-of-type{
                margin-bottom: 10px;
            }
        }
    }

    &.active{
        z-index: 90;
        ul{
            opacity: 1;
            visibility: visible;
            top: 100%;
        }
    }
}

.view-mode{
    display: none;
    height: 30px;
    width: 200px;
    margin: 0 auto 20px;

    > a {
        width: 100%;
        padding: 0 15px;
        height: 30px;
        background-color: transparent;
        color: darken(color(white), 30%);
        border: 1px solid #e1e1e1;
        font-size: 12px;

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .125s ease;


        span{
            margin-left: 5px;
        }

        &:hover{
            color: color(pink);
        }

        &.selected{
            background-color: color(white);
            color: color(gray-900);
            border-color: color(white);
        }
    }

    @include media('md'){
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    @include media('lg'){
        justify-content: flex-end;
        margin: {
            left: auto;
            right: 0;
        }
    }
}


#cloud_tags{
    /* fonts */
    border: none!important;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    height: 250px!important;
    max-width: 550px!important;
    width: 100%!important;

    @include media('md'){
        height: 450px!important;
        max-width: 850px!important;
    }

    &.jqcloud {
        font-size: 10px;
        line-height: normal;

        overflow: hidden;
        position: relative;

        span { padding: 0; }

        a{
            font-size: inherit;
            text-decoration: none;
        }
        span{line-height: 0.8; font-size: 16px;}
        $fz_default: 23px;
        span.w10 { font-size: percentage(98px / $fz_default); font-weight: 900;}
        span.w9 { font-size: percentage(85px / $fz_default); font-weight: 900;}
        span.w8 { font-size: percentage(80px / $fz_default); font-weight: 900;}
        span.w7 { font-size: percentage(69px / $fz_default); font-weight: 700;}
        span.w6 { font-size: percentage(62px / $fz_default); font-weight: 700;}
        span.w5 { font-size: percentage(49px / $fz_default); font-weight: 700;}
        span.w4 { font-size: percentage(45px / $fz_default); font-weight: 700;}
        span.w3 { font-size: percentage(40px / $fz_default); font-weight: 700;}
        span.w2 { font-size: percentage(32px / $fz_default); font-weight: 700;}
        span.w1 { font-size: percentage(21px / $fz_default); font-weight: 700;}

        /* colors */
        span.w10 a { color: #6d2c31; }
        span.w9 a { color: #ae4951; }
        span.w8 a { color: #ae4951; }
        span.w7 a { color: #ae4951; }
        span.w6 a { color: #ee4d5a; }
        span.w5 a { color: #ee4d5a; }
        span.w4 a { color: #ee4d5a; }
        span.w3 a { color: #fcb5ba; }
        span.w2 a { color: #fcb5ba; }
        span.w1 a { color: #fcb5ba; }

        @include media('md'){
            $fz_default: 16px;
            font-size: $fz_default;
            span.w10 { font-size: percentage(98px / $fz_default); font-weight: 900;}
            span.w9 { font-size: percentage(85px / $fz_default); font-weight: 900;}
            span.w8 { font-size: percentage(80px / $fz_default); font-weight: 900;}
            span.w7 { font-size: percentage(69px / $fz_default); font-weight: 700;}
            span.w6 { font-size: percentage(62px / $fz_default); font-weight: 700;}
            span.w5 { font-size: percentage(49px / $fz_default); font-weight: 700;}
            span.w4 { font-size: percentage(45px / $fz_default); font-weight: 700;}
            span.w3 { font-size: percentage(40px / $fz_default); font-weight: 700;}
            span.w2 { font-size: percentage(32px / $fz_default); font-weight: 700;}
            span.w1 { font-size: percentage(21px / $fz_default); font-weight: 700;}
        }
    }
}
