[data-form="duvidas"]{
    max-width: 650px;
    margin: 0 auto;

    .form-group{
        position: relative;
        margin-bottom: 10px;
    }

    .form-control{
        height: 45px;
        box-shadow: none !important;
        background-color: rgba(color(white), .15);
        border-color:rgba(color(white), .15);
        font-size: 13px;
        color: color(white);

        &.error{
            border-color: color(pink);
        }
        &.valid{
            border-color: green;
        }

        @include placeholder{
            color: #fff;
            font-style: italic;
        }
    }

    textarea.form-control{
        min-height: 70px;
        resize: vertical;
    }

    label.error{
        font-size: 10px;
        color: color(pink);
        width: 100%;
        text-align: right;
        line-height: 1;
        margin-top: 0px;
        display: block;
    }

    .row{
        margin: {left: 0; right: 0;};

        [class*="col-"]{
            padding: {left: 5px; right: 5px;};
        }
    }

    .btn{
        height: 70px;
        width: 100%;
        border-radius: 3px;
    }
}


[data-component="form-curso"]{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;

    > div {
        width: 48%;

        &:nth-of-type(3){
            width: 100%;
        }
    }

    .form-group{
        position: relative;
    }

    input{

    }

    label:not(.error){
        display: block;
        color: rgba(color(white), .7);
        text-align: center;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1;
    }

    @include media('sm'){
        > div {
            width: 33%!important;

            &:nth-of-type(4), &:nth-of-type(5){
                width: 48%;
            }
        }
    }

    @include media('lg'){
        > div {
            width: 33%!important;

            &:nth-of-type(4), &:nth-of-type(5){
                width: 48%;
            }
        }
    }

    @include media('xl'){
        flex-wrap: nowrap;

        >div {
            width: auto!important;
        }
    }
}

.fd-select-2{

    background-color: rgba(#333, .4);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    &.active{
        .fds-body{
            opacity: 1;
            visibility: visible;
        }
    }

    input{
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
    }

    .fds-header{
        position: relative;
        border-bottom: 1px solid #fff;
        width: 80%;
        margin: 0 auto;
        cursor: pointer;

        span{
            display: block;
            padding: 10px 0;
            text-align: center;
            font-size: 14px;
            color: rgba(color(white), .7);
        }
    }
    .fds-body{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all .125s ease;
    }

    ul{
        padding: 10px 0;
        list-style: none;
        background: rgba(color(black), .8);
        li{
            padding: 10px 15px;
            color: color(white);
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            &:hover, &.selected{
                font-weight: bold;
                color: color(pink);
            }
        }
    }

    @include media('sm') {
        height: 80px;

        .fds-header{
            span{
                font-size: 18px;
            }
        }
    }

    @include media('xl'){
        width: 210px;
        height: 100px;
        margin: 0 5px;

        .fds-header{
            width: 80%;
            padding: 0 0 10px;
            span{
                font-size: 23px;
            }
        }
    }
}
