[data-component="menu"]{

    $bar-width: 30px;
    $bar-height: 4px;
    $bar-spacing: 8px;

    .posr {
        position: relative;
    }


    nav{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        align-items: center;
        justify-content: space-between;

        padding: 0 15px;
        height: 15vh;

        &:not(.menu){
            border-bottom: 1px solid rgba(color(gray), .1);
        }
    }

    .phone, .blog{
        display: none;
    }

    .blog{
        color: color(pink);
    }

    .phone{
        color: color(black);
        .fd-svg{
            width: $bar-width - 10;
            height: $bar-width - 10;
            margin-right: 5px;
        }
    }

    .brand{
        display: block;
        min-width: 100px;
        width: 40vw;
        max-width: 200px;
        margin-right: auto;

        img{
            display: block;
            max-width: 100%;
            width: auto;
        }
    }

    .cart, .login{
        position: relative;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: center;
        align-items: center;
        margin: 0 7px;
        height: 40px;

        figure{
            border: 1px solid transparentize(color(black), .8);
            width: 40px;
            height: 40px;
            border-radius: 50px;
            margin: 0 7px 0 0;
            position: relative;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .fd-svg{
            width: $bar-width - 13;
            height: $bar-width - 13;
        }

        span{
            display: none;
            color: color(gray);
        }
    }
    .login{
        span{
            max-width: 60px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .cart{

        [data-badge]{
            &:after, &:before{
                position: absolute;
                height: 20px;
                width: 20px;
                top: 0;
                right: 0;
                transform: translate(25%, -25%);
                border-radius: 20px;
            }
            &:after{
                content: '';
                background-color: color(pink);
                z-index: 4;
            }

            &:before{
                content: attr(data-badge);
                color: color(white);
                text-align: center;
                font-size: 11px;
                line-height: 20px;
                z-index: 5;
            }
        }
    }

    .hamb,
    .hamb:after,
    .hamb:before,
    .close-menu,
    .close-menu:after,
    .close-menu:before {
        width: $bar-width;
        height: $bar-height;
        background: color(black);
    }

    .close-menu,
    .hamb {
        position: relative;
        transform: translateY($bar-spacing);
        transition: all 0ms 300ms;
        margin: -12px 7px 0;


        &:before{
            content: "";
            position: absolute;
            left: 0;
            bottom: $bar-spacing;
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        &:after{
            content: "";
            position: absolute;
            left: 0;
            top: $bar-spacing;
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    .close-menu{
        position: absolute;
        top: 30px;
        right: 15px;
        z-index: 900;
        background: rgba(255, 255, 255, 0);

        &:after{
            top: 0;
            transform: rotate(45deg);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
        }

        &:before{
            bottom: 0;
            transform: rotate(-45deg);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
        }
    }

    @include media('md'){
        .close-menu,
        .hamb{
            display: none !important;
        }

        .container{
            height: 100px;
        }

        .phone{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;

            justify-content: flex-start;
            align-items: center;

            font-weight: bold;
            margin: 0 7px;

            font-size: 22px;
        }

        .blog{
            display: block;
        }

        .phone, .blog{
            margin: 0 auto;
        }
        .cart, .login{
            margin: 0 15px;
        }

        .cart span, .login span{
            display: block;
        }
    }

    @include media('xl'){
        .container{
            height: 150px;
        }

        .phone{
            font-size: 26px;
        }
        .blog, .cart, .login{
            font-size: 18px;
        }
        .cart, .login{
            figure{
                height: 57px;
                width: 57px;

                .fd-svg{
                    height: 23px;
                    width: 23px;
                }
            }

            [data-badge]{
                &:after, &:before{
                    height: 31px;
                    width: 31px;
                    border-radius: 31px;
                    transform: translate(35%, -35%);
                }

                &:before{
                    line-height: 31px;
                }
            }
        }
    }


    .menu{
        background-color: white;
        z-index: 500;
        display: block;

        margin: 0 auto;
        padding: 0;
        width: 100vw;

        .menu-content{
            height: calc(100vh - 80px);
            width: 100%;
            margin-top: 80px;
            overflow: auto;
        }

        @media ( max-width: 767px ){
            position: fixed;
            top: 0;
            height: 100vh;
            width: 85vw;
            right: -100vw;
            transition: right .2s ease .1s;
        }

        &.active{
            right: 0;
        }

        a{
            padding: 15px 25px;
            color: color(black);
            text-align: center;
            position: relative;
            display: block;
            transition: color .125s ease .2s;
            line-height: 1;


            &:hover{
                color: color(pink);
            }
        }

        @include media('md'){
            position: relative;

            display: -webkit-flex;
            display: -ms-flex;
            display: flex;

            align-items: center;
            justify-content: center;

            .menu-content{
                margin: 0 auto;
                height: 60px;
                max-width: 1050px;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;

                align-items: center;
                flex-direction: row;
                justify-content: center;
            }

            a {
                padding: 15px 0;
                flex: 1 1 auto;
            }
        }
    }


}

.search-container{
    height: 0!important;
    position: relative;
    z-index: 500;
    display: none;

    .btn-search{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        position: absolute!important;
        top: calc(100% - 25px);
        left: 100%;

        @include multiple-gradient(
        'top',
        #b5464f 0,
        #8c3a41 100%
        );
        @include box-shadow(0 2px 15px rgba(color(black), .45));

        .fd-svg{
            @include change-svg-color(color(white));
            height: 15px;
            width: 15px;
        }

        @include media('lg'){
            height: 70px;
            width: 70px;
            border-radius: 70px;
            right: -30px;
            left: auto;
            display: -webkit-flex!important;
            display: -ms-flex!important;
            display: flex!important;

            justify-content: center;
            align-items: center;

            .fd-svg{
                height: 30%;
                width: 30%;
            }
        }

        @include media('xl'){
            height: 80px;
            width: 80px;
            border-radius: 80px;
            right: auto;
            left: 100%;
        }
    }

    @include media('lg'){
        display: block;
    }
}

.dropdown-login-content{
    position: absolute;
    min-width: 300px;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%, 40px);
    z-index: 900;
    padding: 50px 30px 20px;
    border-radius: 3px;
    box-shadow: 0 3px 15px rgba(color(black), .15);
    opacity: 0;
    visibility: hidden;
    transition: all .125s ease;

    .h3{
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }
    p{
        margin-bottom: 0;
        font-size: 12px;
    }
    hr{
        margin-top: 10px;
    }
    button, a, label{
        font-size: 12px;
    }

    .facebook{
        background-color: $facebook-color;
        color: color(white);
        .fd-svg{
            @include change-svg-color(color(white));
        }
    }
    .google{
        background-color: transparent;
        color: color(gray-900);
        border: 1px solid color(gray-900);
    }

    .facebook, .google{
        position: relative;
        .fd-svg{
            height: 15px;
            width: 15px;
            position: absolute;
            left: 15px;
            top: 10px;
        }
    }

    &.active{
        transform: translate(-50%, 20px);
        opacity: 1;
        visibility: visible;
    }
}
