.modal-pesquisa{
    position: fixed;
    top: 50vh;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.9);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.375s ease 0.375s;

    .container{
        position: relative;
        max-width: 934px;
        min-height: 60vh;
        padding-top: 20vh;
    }

    .modal-title{
        color: #fff;
        font-weight: 200;
        transform: translate(0, 50px);
        opacity: 0;
        text-align: center;
        font-size: 20px;
        transition: all 0.375s ease 0.125s;

        @include media('lg'){
            font-size: 38px;
        }
    }

    .close {
        position: absolute;
        right: 30px;
        top: 15px;
        width: 30px;
        height: 30px;
        z-index: 500;
        opacity: 1;
        transition: all 0.125s ease;

        &:after, &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #fff;
            height: 80%;
            width: 2px;
        }
        &:after{
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:before{
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover{
            transform: rotate(90deg);
            &:after, &:before{
                background-color: #e96567;
            }
        }
    }

    form{
        opacity: 0;
        transform: translate(0, 50px);
        transition: all 0.125s ease;

        .form-group{
            position: relative;
        }
        .form-control{
            box-shadow: none !important;
            border-radius: 0;
            padding: 0 5vw;
            height: 50px;
            border: 2px solid #e2e1e2;
            background-color: #f9f7f7;

            &:focus{
                border-color: #99c97f;
            }
        }

        button[type=submit]{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 50px;
            border-radius: 0;
            background-color: color(pink);
            cursor: pointer;

            .fd-svg{
                @include change-svg-color(color(white));
                max-width: 25px;
                width: 100%;
                height: 25px;
            }

            &:hover{
                background-color: darken(color(pink), 5%);
            }
        }
    }

    &.active {
        top: 0;
        visibility: visible;
        opacity: 1;
        transition: all 0.125s ease;

        .modal-title {
            transform: translate(0, 0);
            opacity: 1;
            transition: all 0.375s ease 0.125s;
        }
        form {
            transform: translate(0, 0);
            opacity: 1;
            transition: all 0.375s ease 0.375s;
        }
    }

    @include media('lg'){
        form .form-control {
            height: 71px;
        }
        form button[type=submit]{
            width: 71px;
        }
    }
}

.radio-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

    .radio-text-content{
        position: relative;
        margin: 0 15px;

        &:after{
            content: '';
            position: absolute;
            top: 50%;
            right: -15px;
            height: 80%;
            width: 1px;
            background-color: rgba(color(white), .35);
            transform: translate(0, -50%);
        }

        &:first-of-type{
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
            &:after{
                display: none;
            }
        }

        label{
            color: rgba(color(white), .35);
            cursor: pointer;
            padding: 5px 0;
            margin-bottom: 0;
            line-height: 1;
        }
        input {
            position: absolute;
            opacity: 0;
            visibility: hidden;

            &:checked ~ label {
                color: color(white);
            }
        }
    }
}
