[data-component="top-menu"]{
    background-color: color(pink);

    .container{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }

    .social > a, .items a {
        height: 6vh;
    }

    .search,
    .social{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        >p{
            font-size: 11px;
            color: #fff;
            height: 50px;
            margin-bottom: 0;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            
            strong{
                margin-left: 5px;
            }

            a{
                color: #fff;
                display: block;
                margin-left: 5px;
            }

            @include media('xl'){
                margin-left: 50px;
            }
        }

        > a{
            width: 40px;
            color: color(white);
            font-size: 20px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;

            transition: all $timing $ease;

            &:hover, &.active{
                background-color: color(white);
                color: color(pink);
            }
        }
    }

    .search{
        @include media('md'){
            display: none !important;
        }
    }

    .items{
        display: none;

        a{
            color: color(white);
            font-size: 13px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;

            padding: 0 15px;

            transition: all .2s ease;

            &:hover{
                background-color: color(white);
                color: color(pink);
            }
        }
    }

    @include media('md'){
        .items a, .social > a{
            height: 50px;
        }
    }

    @include media('md'){
        .items{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }
    }
}
