[data-component="block-default"]{
    position: relative;
    background: {
        size: cover;
        position: 50% 50%;
        repeat: no-repeat;
    }
    .overlay{
        padding: 40px 0;
        height: 350px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;

        &.small{
            height: 220px;
        }

        &.pink{
            background-color: rgba(color(pink), .85);
        }
        &.black{
            background-color: rgba(color(black), .85);
        }
    }


    .block-title{
        font-size: 6vmin;
        color: color(white);
        font-weight: 200;
        text-align: center;

        small{
            font-size: 70%;

            &.tiny{
                font-size: 50%;
            }
        }
    }

    .h2{

    }

    .h3{
        font-weight: 200;
        font-size: 6vmin;
        margin-top: -7px;
    }

    figure{
        margin-bottom: 0;
        .fd-svg{
            width: 40px;
            height: 40px;
            @include change-svg-color(color(white));
        }
    }

    .block-text{
        font-size: 14px;
        color: color(white);
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
    }

    .btn{
        font-size: 12px;
        padding: 10px 15px;
    }

    @include media('md'){
        .block-title{
            font-size: 48px;
        }

        .h3{
            font-size: 30px;
        }
    }

    @include media('xl'){

        .h3{
            font-size: 32px;
        }
    }


    &.teacher-home{
        background-color: #f5f6fa;
        .center-content{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;

            justify-content: flex-start;
            align-items: center;
        }

        .btn{
            font-size: 12px;
            padding: 10px 25px;
        }

        .block-title{
            font-weight: 200;
            text-align: left;
            line-height: 1;
        }

        .block-text{
            max-width: 425px;
        }
    }
}

section{
    .section-title{
        font-size: 22px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 0;

        @include media('lg'){
            font-size: 28px;
        }
    }
    .section-subtitle{
        font-size: 15px;
        text-align: center;
        margin-bottom: 0;
    }

}

.link{
    position: relative;
    display: inline-block;
    transition: all .125s ease;
    font-size: 14px;
    font-weight: 400;

    &:after{
        content: '';
        position: absolute;
        left: -5px;
        right: -5px;
        bottom: 2px;
        height: 1px;
    }

    &:before{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 2px;
        height: 1px;
        width: 0;
        transition: all .125s ease .125s;
    }

    &.default{
        color: color(gray-900);
        &:after{background-color: rgba(color(gray-900), .3);}
        &:before{background-color: color(pink);}
        &:hover{
            color: color(pink);
            transition: all .125s ease .125s;
            &:before{
                left: -5px;
                width: calc(100% + 10px);
                transition: all .125s ease;
            }
        }
    }
}

.button-filter{
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .btn{
        background-color: color(white);
        color: color(gray-900);
        border-radius: 50px;
        padding: 4px 12px;
        font-size: 11px;
        margin-right: 5px;
        margin-bottom: 5px;
        box-shadow: none!important;

        &.active{
            @include multiple-gradient(
                'left',
                #b5464f 0,
                #8c3a41 100%
            );
            color: color(white);
        }

        &:hover{
            color: color(white);
            background-color: color(gray-900);
        }
    }

    @include media('md'){
        .btn{
            padding: 12px 20px;
            font-size: 12px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}
