html, body{
    position: relative;
}

body{
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    right: 0;

    @include font($gotham);

    &.montserrat{
        @include font($montserrat, true);

        // .fa, .fab, .fal, .far, .fas
        *:not(.fa):not(.fab):not(.fal):not(.far):not(.fas) {
            @include font($montserrat, true);
        }
    }

    transition: all .2s ease;

    &:before{
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(color(black), .8);
        z-index: 9000;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
    }

    &.navbar-open{
        right: 85vw;
        position: fixed;

        &:before{
            opacity: 1;
            visibility: visible;
        }
    }

    * {
        outline: none!important;
        text-decoration: none!important;
    }

    .body-bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0, .95);
        opacity: 0;
        visibility: hidden;
        z-index: 900;
        transition: all .2s ease;
        &.active{
            opacity: 1;
            visibility: visible;
        }
    }

    .btn{
        line-height: 1;
    }
}

hr{
    height: 5px;
    border: none;
    margin: 5px auto 30px;

    &.xl{
        max-width: 390px;
        width: 100%;
    }
    &.sm {
        width: 100px;
    }
    &.xs {
        width: 50px;
    }

    &.thin{
        height: 1px;
    }

    @each $name, $color in $colors{
        &.#{$name}{
            background-color: $color;
        }
    }
}

[data-layout="default"]{
    @extend %base-section-padding;
    background-color: darken(color(white), 5%);
}


.fatordigital{
    position: absolute;
    top: 50%;
    right: 0;
    @include translate(-50%, -50%);
}

.message,
.loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(color(gray-900), .85);
    z-index: 500;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text{
        font-weight: bold!important;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        display: inline-block;
    }
}

.loading{
    .text:after{
        content: '';
        border-radius: 2px;
        -moz-animation: wormsPong cubic-bezier(0.77, 0, 0.175, 1) 0.8s infinite;
        -webkit-animation: wormsPong cubic-bezier(0.77, 0, 0.175, 1) 0.8s infinite;
        animation: wormsPong cubic-bezier(0.77, 0, 0.175, 1) 0.8s infinite;
        background-color: color(pink);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 4px;
        height: 4px;
    }
}


[tooltip] {
    position: relative;

    &:after, &:before {
        visibility: hidden;
        opacity: 0;
        transition: all .125s ease;

    }

    &:hover{
        z-index: 30;

        &:after, &:before{
            visibility: visible;
            opacity: 1;
        }
    }

    &::after{
        content: attr(tooltip);
        position: absolute;
        left: 50%;
        top: -6px;
        transform: translateX(-50%) translateY(-100%);
        background: #ededed;
        text-align: center;
        color: color(gray-900);
        font-weight: 900;
        padding: 9px 5px;
        font-size: 12px;
        min-width: 131px;
        border-radius: 3px;
        pointer-events: none;
    }
}
[tooltip-position='left']::before {
    left: 0;
    top: 50%;
    margin-left: -12px;
    transform: translatey(-50%) rotate(-90deg);
}

[tooltip-position='top']::before {
    left: 50%;
}

[tooltip-position='bottom']::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg);
}

[tooltip-position='right']::before {
    left: 100%;
    top: 50%;
    margin-left: -4px;
    transform: translatey(-50%) rotate(90deg);
}

[tooltip-position='left']::after {
    left: 0;
    top: 50%;
    margin-left: -6px;
    transform: translateX(-100%) translateY(-50%);
}

[tooltip-position='top']::after {
    left: 50%;
}

[tooltip-position='bottom']::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after {
    left: 100%;
    top: 50%;
    margin-left: 8px;
    transform: translateX(0%) translateY(-50%);
}

.ao-vivo{
    height: 80px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none!important;
    margin-bottom: 15px;
    background: {
        size: cover;
        position: 50% 50%;
        repeat: no-repeat;
    };

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(color(green), .8);
    }

    p{
        position: relative;
        z-index: 5;
        color: #fff;
        font-size: 20px;
    }

    @include media('md'){
        height: 120px;
        p{
            font-size: 30px;

            strong{font-weight: 900;}
        }
    }

    @include media('xl'){
        height: 160px;
        p{font-size: 40px;}
    }
}
