.buttons{
    flex-wrap: wrap;
    > *{
        margin-right: 10px;
        margin-bottom: 10px;

        &:last-of-type{
            margin-right: 0;
        }
    }

    @include media('lg'){
        flex-wrap: nowrap;

        > * {
            margin-bottom: 10px;
        }
    }
}

.btn{
    font-weight: 400;
    border-radius: 2px;

    &.outline{
        background-color: transparent!important;
    }

    @each $name, $color in $colors {
        &.#{$name}{

            @if $name == 'white' or $name == 'gray-100'{
                color: color(gray-900);
                .fd-svg{
                    @include change-svg-color(color(gray-900));
                }
            } @else {
                color: color(white);
                .fd-svg{
                    @include change-svg-color(color(white));
                }
            }

            .fd-svg{
                height: 15px;
                width: 15px;
                margin-right: 8px;
            }

            background-color: $color;
            border: 1px solid $color;

            &.outline{
                color: $color;
                .fd-svg{
                    @include change-svg-color($color);
                }
            }

            &:hover{
                background-color: darken($color, 10%);
            }
        }
    }

    &.white{
        &:hover{
            background-color: color(pink)!important;
            border-color: color(pink);
            color: color(white)!important;
        }
    }
}

.btn-filter{
    background-color: color(white);
    padding: 10px 20px;
    color: color(pink);
    font-size: 12px;
    box-shadow: none!important;

    &.collapsed{
        color: color(gray-900);
    }
    &:hover{
        color: color(pink);
    }
}

@include media('sm'){
    .mt-sm--60{
        margin-top: -60px;
    }
}

.form-pesquisa{
    max-width: 846px;
    margin: 0 auto;

    position: relative;

    .form-control{
        position: relative;
    }

    .form-control{
        height: 60px;
        border-radius: 80px;
        border: none;
        box-shadow: none!important;
        font-style: italic;
        color: rgba(color(black), .35);
        font-weight: 500;
        font-size: 27px;
        height: 108px;
        padding: 0 71px;

        @include placeholder{

        }
    }

    button[type=submit]{
        height: 108px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 108px;
        width: 108px;
        background-color: transparent;

        .fd-svg{
            height: 35px;
            width: 35px;
            @include change-svg-color(color(red));
        }
    }
}
