footer{
    background-color: color(gray-800);
    padding-top: 10vh;

    p{
        margin-bottom: 0;
        color: color(white);
    }

    .text-muted{
        font-size: 12px;
    }

    .footer-content{
        max-width: 550px;
        margin: 0 auto;

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .col-links{
            width: 160px;
            margin-bottom: 30px;
            padding: 0 15px;
        }

        .col-cards{
            flex-grow: 1;
            padding: 0 15px;
            // max-width: calc( 550px - 320px );
        }

        .cards{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .col-links{
        a{
            display: block;
            color: color(white);
            font-size: 12px;
        }
    }

    .cards{
        img{
            display: inline-block;
            margin: 0 5px 5px;
        }
    }


    .bottom{
        background-color: darken(color(gray-900), 5%);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: center;
        align-items: center;

        height: 53px;
        font-size: 13px;
        position: relative;
    }


    @include media('sm'){
        .footer-content{
            .col-cards{
                width: calc(550px - 340px);
            }
        }
    }
}
