.main-overlay__backdrop{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: {
        size: cover;
        repeat: no-repeat;
        position: center center;
    }
    opacity: 0;
    visibility: hidden;
    transition: all .125s ease-in-out .2s;

    &:after{
        content: ' ';
        background-color: rgba(color(pink), .6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }


}

.main-overlay-info{
    position: absolute;
    top: 0;
    right: -400px;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    max-width: 350px;
    background-color: rgba(#671f25, .9);
    transition: all .125s ease-in-out;

    &.active{
        right: 0;
        transition: all .125s ease-in-out .2s;

        & ~ .main-overlay__backdrop{
            top: 0;
            opacity: 1;
            visibility: visible;
            transition: all .125s ease-in-out;
        }
    }

    .cards{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        max-width: 340px;
        margin-right: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        padding-bottom: 20px;

        @include scrollbar2( #fff, #fff, rgba(#fff, .1), blue );

        .card{
            width: 85%;
            border-radius: 0;
            padding-bottom: 0;
            margin: 20px auto 0;

            .card-header{
                background: {
                    size: cover;
                    position: center center;
                    repeat: no-repeat;
                }
                position: relative;
                height: 100px;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 0;
                border: none;

                *{
                    position: relative;
                    z-index: 1;
                    color: #fff;
                    font-size: 13px;
                }

                .fd-svg{
                    @include change-svg-color(color(pink));
                    width: 50px;
                    height: 50px;
                }


                &:before{
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    background-color: rgba(#fff, .35);
                }


                @include media('lg'){
                    height: 185px;
                }
            }

            .card-footer{
                border-radius: 0;
                p{
                    font-size: 3vmin;
                    font-weight: bold;
                    line-height: 1;

                    span{
                        font-size: 2vmin;
                        font-weight: 300;
                        display: block;
                        margin-bottom: 8px;
                    }
                }

                @include media('lg'){
                    p{
                        font-size: 23px;

                        span{
                            font-size: 15px;
                        }
                    }
                }
            }



            &.active{
                .card-header{
                    &:before{ background-color: rgba(#000, .85); }
                    .fd-svg{
                        @include change-svg-color(color(white));
                    }
                }

                &:hover, &:focus{
                    .card-header{
                        * { color: color(pink); }
                        .fd-svg{
                            @include change-svg-color(color(pink));
                        }
                    }
                }
            }

            &:hover, &:focus{
                .card-footer{
                    background-color: color(pink);

                    * { color: #fff }
                }
            }
        }
    }
}


.main-overlay-next{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: {
        size: cover;
        repeat: no-repeat;
        position: 50% 50%;
    }
    opacity: 0;
    visibility: hidden;
    transition: all .2s $cubic-default;

    &__inner{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#671f25, .9);
    }

    &__content{
        height: auto;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 60px;
        background-color: rgba(#000, .35);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 0 20px;

        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);

        @include media('md'){
            position: absolute;
            bottom: 0;
            padding: 15px 20px;
        }

        @include media('xxl'){
            height: 355px;
            padding: 30px 70px;
        }
    }

    &__text{
        padding: 0 10px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        flex: 1 1 auto;

        * {
            opacity: 0;
            transform: translateY(10px);
        }

        a.btn{
            border: 1px solid color(white);
            width: 100%;
            max-width: 244px;
            padding: 8px 10px;
            text-align: center;
            font-size: 10px;
            color: color(white);

            &:hover, &:focus{
                background-color: color(pink);
                border-color: color(pink);
            }

            @include media('sm'){
                font-size: 13px;
            }
        }

        p{
            color: #fff;
            font-size: 14px;
            text-align: right;
            line-height: 1;

            small, strong{display: block;}

            small{
                font-size: 75%;
                font-weight: 300;
                margin: 10px 0;
            }
            strong{
                font-size: 80%;
                font-weight: 400;
            }
        }

        @include media('sm'){
            p {
                font-size: 16px

                small{
                    font-size: percentage( 24px / 35px );
                }
                strong{
                    font-size: percentage( 40px / 35px );
                }
            }
        }

        @include media('md'){
            padding: 0 25px;

            p{
                font-size: 20px;
                font-weight: 600;
                strong{
                    font-weight: 600;
                }
            }
        }

        @include media('xl'){
            padding: 0 35px 0 15px;
        }

        @include media('xxl'){
            padding: 0 35px;
            margin-right: 35px;

            p{
                font-size: 35px;
            }
        }
    }

    &__figure{
        max-width: 440px;
        width: 100px;
        flex: 0 0 100px;

        span{
            color: #fff;
            font-size: 16px;
            margin-bottom: 5px;
            display: none;
            opacity: 0;
            transform: translateY(15px);
        }

        @include media('sm'){
            width: 150px;
            flex: 0 0 150px;
        }

        @include media('md'){
            width: 40%;
            flex: 0 0 40%;
            span{
                display: block;
            }
        }
    }

    &__image{
        height: 150px;
        width: 100%;
        position: relative;
        background: {
            size: cover;
            position: 50% 50%;
            repeat: no-repeat;
        }
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(color(black), .5);
        }

        .fd-svg{
            @include _make-size(25);
        }

        @include media('md'){
            height: 170px;

            .fd-svg{
                @include _make-size(50);
            }
        }
        @include media('lg'){
            height: 200px;
        }

        @include media('xxl'){
            height: 260px;
        }
    }

    &__again{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 10px;
        left: 10px;
        height: 100px;
        width: 200px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(#000, .85);
        }

        background: {
            size: cover;
            position: 50% 50%;
            repeat: no-repeat;
        }
        * {
            color: #fff;
            font-size: 13px;
            position: relative;
            z-index: 5;
        }
        .fd-svg{
            @include _make-size(30);
            @include change-svg-color(#fff);
        }

        @include media('sm'){
            height: 150px;
            width: 296px;
        }

        @include media('lg'){
            height: 185px;
        }

        @include media('xxl'){
            top: 38px;
            left: 20px;
        }
    }

    &.active{
        opacity: 1;
        visibility: visible;

        .main-overlay-next{
            &__again{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition: opacity 1s $cubic-default 1s, transform 1s $cubic-default 1s;
            }
            &__content{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition: opacity 1s $cubic-default 1s, transform 1s $cubic-default 1s;
            }

            &__image,
            &__figure span,
            &__text * {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }

            &__text{
                a.btn{ transition: opacity 1s $cubic-default 2.25s, transform 1s $cubic-default 2.25s; }
                p{ transition: opacity 1s $cubic-default 1.5s, transform 1s $cubic-default 1.5s; }
                p small{ transition: opacity 1s $cubic-default 1.75s, transform 1s $cubic-default 1.75s; }
                p strong{ transition: opacity 1s $cubic-default 2s, transform 1s $cubic-default 2s; }
            }
            &__image{
                transition: opacity 1s $cubic-default 1.75s, transform 1s $cubic-default 1.75s;
            }
            &__figure span{
                transition: opacity 1s $cubic-default 1.5s, transform 1s $cubic-default 1.5s;
            }
        }
    }
}

.fd-locale{
    position: fixed;
    top: 100vh;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;

    &.active{
        top: 0;
        opacity: 1;
        visibility: visible;
        transition: opacity .2s ease-in-out;
    }

    &__info{
        color: color(pink);
        font-size: 11px;
        position: absolute;
        top: 100%;
        margin-bottom: 0;
    }

    &__backdrop{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(#fff, .75);
    }

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        max-width: 412px;
        width: 90vw;
        min-width: 280px;
        min-height: 255px;
        background-color: #fff;
        border-radius: 10px;
        @include box-shadow(5px 5px 15px rgba(#000, .15));
    }
    &__buttons{
        width: 80%;
        flex: 0 0 80%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -2%;
    }
    .btn{
        width: 40%;
        flex: 0 0 40%;
        padding: 15px 10px;
        margin: 0 2%;
        font-weight: bold;
        border-radius: 5px;

        transform: translateY(-15px);
        opacity: 0;
        visibility: hidden;

        transition: all .125s ease-in-out;
    }
    .btn-red{
        border-color: color(pink);
        background-color: color(pink);
        color: #fff;
    }

    .btn-outline{
        color: color(gray-900);
        border-color: color(gray-900);
    }

    &__title{
        text-align: center;
        color: lighten(color(gray-900), 25%);
        line-height: 1;
        opacity: 0;
        visibility: hidden;

        transform: translateY(-15px);
        opacity: 0;
        visibility: hidden;

        transition: all .125s ease-in-out;

        @include media('lg'){
            font-size: 25px;
            font-weight: bold;
        }

        @include media('xl'){
            font-size: 30px;
        }
    }

    &__form{
        max-width: 305px;
        width: 100%;

        input{
            height: 52px;
            border-color: #ededed;
            box-shadow: none!important;
            margin-bottom: 15px;

            &:focus, &:hover{
                border-color: color(pink);
            }

            @include placeholder{
                color: #ededed;
            }
        }

        a{
            display: inline-block;
            font-size: 12px;
            color: color(gray-900);

            span{
                position: relative;

                &:after{
                    content: ' ';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 1px;
                    background-color: rgba(color(gray-900), .5);
                }
            }

            .fd-svg{
                @include change-svg-color(color(gray-900));
                @include _make-size(12);
            }
        }
    }

    &__inner{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        padding: 30px 15px;

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &.active{
            z-index: 4;
            opacity: 1;
            visibility: visible;

            .fd-locale{
                &__title{
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }

            .btn-red{
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
            .btn-outline{
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
