[data-component="explore-courses"]{
    background-color: darken(color(white), 5%);
}

[data-component="courses"]{
    background-color: darken(color(white), 5%);
}

[data-component="courses-home"]{
    width: 100vw;
    overflow-x: hidden;
    margin-bottom: 15px;

    .container,
    .container-fluid{
        > .row{
            @include media('sm') {
                > [class*="col-"]{
                    &:first-child{
                        padding-right: 5px;
                    }
                    &:last-child{
                        padding-left: 5px;
                    }
                }
            }

            @include media('lg'){
                .row{
                    > [class*="col-"]{
                        &:first-child{
                            padding-right: 5px;
                        }
                        &:last-child{
                            padding-left: 5px;
                        }
                    }
                }
            }

            @include media('xl'){
                > [class*="col-"],
                .row [class*="col-"]{
                    &:first-child{
                        padding-right: 10px;
                    }
                    &:last-child{
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    .item{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 10px 0 0;
        position: relative;
        background: {
            size: cover;
            position: 50% 50%;
            repeat: no-repeat;
        };

        * {
            background: {
                size: cover;
                position: 50% 50%;
                repeat: no-repeat;
            }
        }

        &.link{
            background-color: color(pink);
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;

            justify-content: center;
            align-items: center;
            height: 80px;
            padding: 0 20px;
            font-size: 16px;
            color: color(white);
            text-align: center;
            line-height: 1;
            font-weight: 100;

            @include media('sm'){
                height: 300px;
                font-size: 20px;
            }

            @include media('md'){
                height: 225px;
            }

            @include media('lg'){
                font-size: 32px;
            }
        }
        @include media('xl'){
            margin-top: 20px;
        }
    }

    .item-badge{
        position: absolute!important;
        max-width: 140px;
        width: 50vw;

        img{
            width: 100%;
        }

        &[data-position="bottom-right"]{
            top: auto;
            left: auto;
            right: 0;
            bottom: 0;
        }
        &[data-position="bottom-left"]{
            top: auto;
            left: 0;
            right: auto;
            bottom: 0;
        }
    }

    .item-content{
        position: absolute!important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(color(black), .5);

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: center;
        align-items: center;
        flex-direction: column;

        transition: all .2s ease;

        &:hover{
            background-color: rgba(color(pink), .85);

            .item-title{
                color: color(gray-900);
            }
        }

        .item-title{
            text-align: center;
            color: color(white);
            font-size: 18px;
            line-height: 1;
            font-weight: 300;

            > small{
                font-size: 50%;
                color: rgba(color(white), .6);
            }

            strong{
                font-size: percentage( 38px / 32px );
                margin-top: 15px;
                margin-bottom: -8px;
                display: block;
                color: rgba(color(white), .6);
                font-weight: 500;

                small{
                    font-size: 65%;
                }
            }

            @include media('lg'){
                font-size: 32px;
            }
        }
    }

    [class*="item-"]{ position: relative; }

    .item-1{ height: 200px; }
    .item-2{ height: 200px; }
    .item-3{ height: 200px; }
    .item-4{ height: 200px; }

    @include media('sm') {
        .item-1{ height: 250px; }
        .item-2{ height: 150px; }
        .item-3{ height: 220px; }
        .item-4{ height: 110px; }
        .item.link{ height: 60px; }
    }

    @include media('lg'){
        .item-1{ height: 400px; }
        .item-2{ height: 174px; }
        .item-3{ height: 350px; }
        .item-4{ height: 225px; }
        .item.link{ height: 225px; }

    }
}

[data-component="spotlight-home"]{
    background-color: color(gray-900);

    .spotlight-content{
        min-height: 350px;
        height: 50vw;
        max-height: 450px;
        background-color: rgba(color(black), .85);
        @include box-shadow(0 0 20px rgba(color(black), .85));
        position: relative;

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px 15px;
    }

    .spotlight-badge{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 120px;
        height: 50px;
        background-color: color(white);

        img{
            display: block;
            max-width: 100%;
        }
    }

    .spotlight-type, .spotlight-name{
        color: color(white);
    }
    .spotlight-name{
        font-size: 5vmin;
        line-height: 1;
        font-weight: 600;
    }
    .spotlight-type{
        font-size: 10px;
        font-weight: 200;
    }
    .spotlight-cta{
        background-color: transparent;
        color: color(white);
        border: 1px solid color(white);
        padding: 6px 12px;
        font-size: 10px;
        display: inline-block;
        margin-top: 20px;
    }

    @include media('md'){
        .spotlight-content{
            padding: 25px 20px;
        }
        .spotlight-name{
            font-size: 30px;
        }
    }
    @include media('xl'){

        .spotlight-content{
            padding: 35px 30px;
        }
    }

    .spotlight_modal{
        position: fixed;
        // top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 900;
        background-color: color(gray-900);
        padding: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        top: 100vh;

        transition: opacity .5s ease;

        &.active{
            top: 0;
            opacity: 1;
            visibility: visible;
        }

        .container{
            @include media('lg'){
                position: relative;
            }
        }

        .item{
            @include media('lg'){
                margin: 0 -2%;
                padding: 2vh 3%;
            }
        }

        .card-title{
            @include media('md'){
                font-size: 20px;
            }
        }

        .card-text{
            font-size: 11px;

            @include media('sm'){
                font-size: 13px;
            }

            @include media('md'){
                font-size: 15px;
            }
        }

        &--item{
            height: 80vh;

            @include media('lg'){
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 75vh;
            }
        }

        &--header{
            height: 20vh;
            width: calc(100% - 70px);
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            .section-title{
                font-size: 20px;
            }

            @include media('sm'){
                width: 100%;
            }
        }

        &--badge{
            position: absolute!important;
            top: 0;
            right: 0;
            width: 30vw;
            max-width: 120px;
            height: auto;
            background-color: color(white);

            img{
                display: block;
                max-width: 100%;
                width: auto;
                margin: 0 auto;
            }

            @include media('lg'){
                padding: 0;
                max-width: 50%;
                border-radius: 6px;
                top: 5vh;
                left: 0;
                right: 0;
                margin: 0 auto;
                overflow: hidden;
            }

            @include media('xl'){

            }
        }

        &--close{

            position: absolute;
            top: 0;
            right: 0;
            z-index: 90;
            padding: 10px;

            .fd-svg{
                @include change-svg-color(darken(#fff, 10%));
                @include _make-size(30);
            }

            @include media('lg'){
                top: 50%;
                left: calc(100% - 60px);
                transform: translateY(-100%);
            }

            @include media('xl'){
                left: 100%;
            }
        }

        &--type, &--name{
            color: color(white);
        }
        &--name{
            font-size: 5vmin;
            line-height: 1;
            font-weight: 600;
            max-width: 56vw;
        }
        &--type{
            font-size: 10px;
            font-weight: 200;
        }
        &--cta{
            background-color: transparent;
            color: color(white);
            border: 1px solid color(white);
            padding: 6px 12px;
            font-size: 10px;
            display: inline-block;
            margin-top: 20px;
        }

        &--ctas{
            margin: 0;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -5px;

            a{
                width: calc(50% - 10px);
                flex: 0 0 calc(50% - 10px);

                margin: 5px;
                padding: 15px 10px;
                border-radius: 4px;
            }

            @include media('sm'){
                a{
                    width: calc(50vw - 23px);
                }
            }
            @include media('md'){
                a{
                    height: 27vh;
                }
            }

            @include media('lg'){
                width: 60%;
                flex: 0 0 60%;
                padding-top: 20px;
                margin-left: 1%;

                a{
                    height: calc( (75vh / 2) - 10px);
                    width: calc(50% - 20px);
                    flex: 0 0 calc(50% - 20px);
                    margin: 0 10px 20px;
                    justify-content: center;
                }
            }

            @include media('xl'){
                margin-left: 5%;

                a{
                    padding: 0 30px;
                }
            }

            @include media('xxl'){
                a{
                    padding: 0 40px;
                }
            }
        }

        .card-value{
            font-size: 12px;

            > *{
                display: block;
                font-size: 11px;
                line-height: 1.2;
                color: color(gray-900);
            }
            strong{
                color: color(pink);
                font-size: percentage( 18px / 12px );
            }
            small{
                font-size: percentage( 9px / 12px );
            }

            @include media('md'){
                font-size: 20px;
            }
        }

        &--figure{
            position: relative;
            border: none;
            background: {
                size: cover;
                position: center;
                repeat: no-repeat;
            }
            overflow: hidden;
            padding: 15px;
            @include box-shadow(0 0 20px rgba(color(black), .85));
            height: 20vh;
            margin-bottom: 2vh;

            > * {
                position: relative;
                z-index: 2;
            }
            &:after{
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background-color: rgba(color(black), .85);
            }

            @include media('lg'){
                height: 75vh;
                width: 35%;
                flex: 0 0 35%;
                margin-bottom: 0;

                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                padding: 10vh 20px;
            }
        }


        &--buttons{
            position: absolute;
            bottom: 0;
            right: 0;


            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media('lg'){
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        &--next, &--prev{
            background-color: darken(#fff, 20%);
            padding: 5px 10px;
            cursor: pointer;
            * {
                font-weight: bold;
            }
        }
    }
}

[data-components="blog"]{

    .article-content{
        margin-top: 120px;
    }

    .card{
        background-color: darken(color(white), 5%);
        padding: 10px;
        overflow: visible;
        border-radius: 0;
        margin-bottom: 80px;

        figure{
            margin-top: -70px;
            height: 220px;
        }
        .card-title, .card-text{
            text-align: center;
            margin: {
                left: auto;
                right: auto;
            }

            a{
                color: color(gray-800);
            }
        }
        .card-title{
            font-size: 18px;
            max-width: 80%;
        }
        .card-text{
            font-size: 13px;
            margin-top: 20px;
            max-width: 260px;
            white-space: normal;
        }

        .btn{
            margin: 20px auto;
            background-color: transparent;
        }

        @include media('sm'){
            .card-title{
                font-size: 20px;
            }
        }

        @include media('xl'){
            .card-title{
                font-size: 22px;
            }
        }
    }
}

[data-component="social"]{
    background-color: darken(color(white), 5%);
    .social-content{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: flex-start;
        align-items: center;

        height: 120px;

        p{
            margin-bottom: 0;
            margin-right: 15px;
            font-size: 13px;
            line-height: 1.1;
        }

        .facebook, .instagram, .youtube, .google-plus{
            height: 30px;
            min-width: 30px;
            border-radius: 30px;
            border: 2px solid color(gray-900);
            margin: 0 2.5px;

            font-size: 15px;
            color: color(gray-900);

            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;

            transition: all .125s ease;
        }

        .facebook:hover{
            background-color: $facebook-color;
            border-color: darken($facebook-color, 5%);
            color: #fff;
        }
        .instagram:hover{
            background-color: $instagram-color;
            border-color: darken($instagram-color, 5%);
            color: #fff;
        }
        .youtube:hover{
            background-color: $youtube-color;
            border-color: darken($youtube-color, 5%);
            color: #fff;
        }
        .google-plus:hover{
            background-color: $google-color;
            border-color: darken($google-color, 5%);
            color: #fff;
        }
    }

    @include media('md'){
        .social-content{
            justify-content: center;

            p{
                margin-right: 25px;
                font-size: 17px;
            }

            .facebook, .instagram, .youtube, .google-plus{
                height: 40px;
                min-width: 40px;
                border-radius: 40px;
                margin: 0 5px;

                font-size: 20px;
            }
        }
    }

    @include media('xl'){
        .social-content{
            p{
                font-size: 20px;
            }
            .facebook, .instagram, .youtube, .google-plus{
                height: 55px;
                min-width: 55px;
                border-radius: 55px;

                font-size: 25px;
            }
        }
    }
}

[data-component="form-inline"]{
    background-color: color(pink);
    padding: 35px 0;
    position: relative;

    .container{
        max-width: 840px;
    }

    p{
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        width: 100%;
        line-height: 1;
    }


    .form-inline{
        max-width: 900px;

        .btn{
            height: 40px;

            &:hover{
                background-color: color(gray-800)!important;
                border-color: color(gray-800);

            }
        }

        .form-group{
            flex-grow: 1;
            max-width: 100%;
            margin-right: 25px;
            position: relative;

            label.error{
                background: color(white);
                color: tomato;
                position: absolute;
                top: calc(100% + 5px);
                right: 0;
                border-radius: 3px;
                font-size: 11px;
                padding: 2px 5px;
            }

            .form-control{
                width: 100%;
                border-radius: 50px;
                padding: 0 25px;
                height: 44px;
                margin-bottom: 0;

                &:focus{
                    box-shadow: none;
                    border-color: color(gray-900);
                }
            }
        }
    }

    @media only screen and (min-width: 456px){
        .form-group{
            margin-bottom: 0;
            .form-control{
            }
        }
    }

    @include media('md'){
        p{
            max-width: 230px;
            margin-bottom: 0;
        }
    }
}


[data-component="tab-accordion"]{
    .nav-tabs {
        display:none;
    }

    @media(min-width:768px) {
        .nav-tabs {
            display: flex;
        }

        .card {
            border: none;
        }

        .card .card-header {
            display:none;
        }

        .card .collapse{
            display:block;
        }
    }

    @media(max-width:767px){
        .tab-pane {
            display: block !important;
            opacity: 1;
        }
    }

    .nav-tabs{
        border: none;
        .nav-item{
            border: none;
            flex: 1 1 auto;

            .nav-link{
                border: none;
                font-size: 14px;
                position: relative;
                color: color(gray-900);
                text-align: center;
                display: block;

                padding: 30px 0 15px;

                &:after{
                    content: '';
                    position: absolute;
                    bottom: 2px;
                    left: 50%;
                    right: 50%;
                    height: 4px;
                    background-color: transparent;
                    transition: all .125s ease;
                }

                &.active{
                    font-weight: bold;

                    &:after{
                        left: 25%;
                        right: 25%;
                        background-color: color(red);
                    }
                }
            }
        }
    }
}
