.h1{

}
.h2{
    font-weight: 900;
}

.h3{
    font-size: 18px;

    @include media('md'){
        font-size: 23px;
    }

    @include media('xl'){
        font-size: 28px;
    }
}

.h4{

}

.h5{
    font-size: 16px;

    @include media('md'){
        font-size: 18px;
    }
}

.h6{

}
