.video-mask{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;

    transition: all .2s $cubic-default;


    &__upper{
        height: percentage( 307px / 680px );
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 6vh;
    }

    &__under{
        height: percentage( 373px / 680px );
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f1f1f1;
        padding-top: 5vh;
    }

    &__title{
        color: #a21c26;
        font-weight: 600;
        text-align: center;
        width: 100%;
        max-width: 720px;
        margin: 0;
        line-height: 1;
        padding: 0 60px;

        &.larger{ font-size: 20px; }
        &.smaller{ font-size: 18px; }

        @include media('sm'){
            &.larger{ font-size: 25px; }
            &.smaller{ font-size: 21px; }
        }

        @include media('md'){
            &.larger{ font-size: 30px; }
            &.smaller{ font-size: 26px; }
        }

        @include media('lg'){
            &.larger{ font-size: 40px; }
            &.smaller{ font-size: 33px; }
        }

        @include media('xl'){
            &.larger{ font-size: 53px; }
            &.smaller{ font-size: 43px; }
        }

        @include media('xxl'){
            &.larger{ font-size: 69px; }
            &.smaller{ font-size: 50px; }
        }
    }

    &__brand{
        position: absolute;
        top: 10px;
        left: 10px;

        img{ max-width: 50%; }

        @include media('sm'){
            top: 20px; left: 20px;
            img{ max-width: 60%; }
        }
        @include media('md'){
            img{ max-width: 70%;  }
        }
        @include media('lg'){
            img{ max-width: 80%; }
        }
        @include media('xl'){
            img{ max-width: 90%; }
        }
        @include media('xxl'){
            img{ max-width: 100%; }
        }
    }

    &__play-button{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -55%);
        max-width: 50px;

        @include media('sm'){ max-width: 70px; }
        @include media('md'){ max-width: 80px; }
        @include media('lg'){ max-width: 90px; }
        @include media('xl'){ max-width: 100px; }
        @include media('xxl'){ max-width: 130px; }
    }

    &__description{
        font-size: 16px;
        color: #282626;
        @include font('Montserrat');
        font-weight: bold;
        line-height: 1;
        text-align: center;

        * {
            display: block;
            font-size: percentage( 33px / 47px );
            font-weight: 400;
            margin-top: 2vh;
            text-align: center;
        }

        @include media('sm'){ font-size: 19px; }
        @include media('md'){ font-size: 23px; }
        @include media('lg'){ font-size: 29px; }
        @include media('xl'){ font-size: 36px; }
        @include media('xxl'){ font-size: 47px; }
    }

    &.active{
        opacity: 1;
        visibility: visible;
    }
}
