[data-component="cadastro"]{
    background-color: darken(color(white), 5%);
    form{
        max-width: 830px;
        width: 100%;
        margin: 0 auto;

        label.error{
            font-size: 12px;
            color: color(pink);
        }

        .form-control{
            height: 45px;
            border-radius: 50px;
            box-shadow: none!important;

            background-color: #fff;

            @include placeholder{
                color: rgba(color(gray-900), .5);
            }

            &.error{
                border-color: color(pink);
            }
        }

        .form-content{
            @include media('sm'){
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;

                .form-group{
                    flex: 0 0 calc(100% / 2 - 10px);

                    &.w-100{
                        flex: 0 0 100%;
                    }
                    &.w-25{
                        flex: 0 0 calc(100% / 4 - 10px);
                    }
                }
            }
        }
    }
}


.cadastro-modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2500;
    top: 0;

    opacity: 0;
    visibility: hidden;

    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(color(black), .7);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
    }

    .close-modal{
        height: 40px;
        width: 40px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 15px;

        .fd-svg{
            height: 15px;
            width: 15px;
            @include change-svg-color(color(gray));
        }
    }
    main{
        opacity: 0;
        visibility: hidden;
        top: 0;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        z-index: 2;
        padding: 50px 0 30px;
        max-width: 500px;
        width: 100%;
        min-height: 400px;
        border-radius: 5px;

        background-color: color(white);
    }

    .modal-footer{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: center;
        align-items: center;

        margin: 30px auto;
    }

    figure{
        background-color: color(green);
        height: 50px;
        width: 50px;
        border-radius: 50px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;

        .fd-svg{
            height: 30px;
            width: 30px;
            @include change-svg-color(color(white));
        }
    }

    .h3{
        margin-bottom: 0;
    }

    .btn{
        font-size: 12px;
        min-width: 147px;
    }

    &.active{
        opacity: 1;
        visibility: visible;

        .backdrop{
            opacity: 1;
            visibility: visible;
            top: 0;
        }

        main{
            opacity: 1;
            visibility: visible;
            top: 50%;
        }
    }
}
