[data-component="checkout"]{
    background: {
        image: url(#{$images_location}checkout-bg.jpg);
        size: cover;
        position: center center;
        repeat: no-repeat;
    }
    padding: 10vh 0;

    .container{
        @include media('xl'){
            max-width: 1527px;
        }

        p.text-muted{
            color: #b0b0b0!important;
            font-size: 13px;
        }

        &.d-flex{
            align-items: center;
            justify-content: space-around;

            img{
                max-width: 400px;
                width: 40vw;
                display: block;
            }
            p{
                flex: 1 1 auto;
                margin: 0;
            }
        }
    }

    form .container{
        background-color: color(white);
        padding: 25px;
        border-radius: 6px;
    }

    h4{
        color: darken(color(white), 30%);
        letter-spacing: 2px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;

        @include media('xl'){
            font-size: 20px;
        }
    }

    h5{
        font-size: 11px;
        text-align: left;
    }

    .btn{
        background-color: #bebebe;
        color: white;
        border-radius: 50px;
        height: 30px;
        margin: {
            left: auto;
            right: auto;
        }

        &.red{
            background-color: color(red);
            border-radius: 10px;
        }
        &.pink{
            background-color: color(pink);
            border-radius: 10px;
        }
    }

    .form-inline{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        margin: 30px auto 30px;
        max-width: 90%;

        .form-control{
            border-radius: 50px;
            border: 1px solid #bebebe;
            flex: 1 1 auto;
            width: 100%;
            margin-right: 10px;
            height: 30px;
        }

    }

    .step-2, .step-3{
        &:not(.current){
            pointer-events: none!important;

            .btn{
                background-color: #ccc !important;
                border-color: #ccc !important;
            }
        }
    }

    .step-1, .step-2, .step-3{



        header{
            font-size: 20px;
            color: #bebebe;
            letter-spacing: 2px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120px;
            border-bottom: 2px solid #bebebe;
            margin-bottom: 30px;

            span{
                height: 60px;
                width: 60px;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #bebebe;
                border-radius: 60px;
                color: white;
                font-size: 36px;
                font-weight: bold;
                margin-right: 15px;
            }
        }

        &.current{
            header{
                border-bottom: 2px solid #a8545c;
                color: #a8545c;

                span{
                    background-color: #a8545c;
                }
            }
        }
    }
    .step-1{

        main{
            .curso{
                background-color: lighten(color(pink), 38%);
                border-radius: 10px;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 86px;
                padding: 15px;
                margin-bottom: 15px;
            }

            .curso-remove{
                height: 86px;
                width: 66px;
                flex: 0 0 66px;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 8px;
                cursor: pointer;

                .fd-svg{
                    height: 16px;
                    width: 16px;
                }
            }

            .curso-info{
                flex: 1 1 auto;
                position: relative;

                input{
                    position: absolute;
                    height: 0;
                    width: 0;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                }

                p{
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 0;
                    line-height: 1.1;

                    strong{
                        font-size: percentage(14px / 13px);
                        color: color(gray-900);
                        display: block;
                    }

                    span{
                        font-size: 10px;
                    }
                    small{
                        font-size: 8px
                    }
                }
            }
        }

        .table-flex{
            .table-row{
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 30px;
                border-top: 1px solid rgba(#bebebe, .5);

                div{
                    font-size: 12px;
                    font-weight: 900;
                }

                &:first-child{
                    border: none!important;
                }
            }
        }
    }

    .step-2{
        main{
            padding: 0 40px;
        }
    }

    .form-group{
        margin: 0 auto 20px;
        label:not(.error){
            color: color(pink);
            font-size: 10px;
            text-transform: uppercase;
            white-space: nowrap;
        }

        label.error{
            font-size: 12px;
            text-align: left;
            color: color(pink);
        }

        .form-control{
            border-radius: 11px;
            height: 35px;
            font-size: 13px;


            @include placeholder{
                letter-spacing: 2px;
                font-size: 11px;
            }
        }
    }

    .accordion{
        .card{
            background-color: #fff6f6;
            border: 1px solid darken(#fff6f6, 10%);
            border-radius: 15px;
            color: #ababab;
            margin-bottom: 20px;

            button{
                background-color: transparent;
                border: none;
                color: #ababab;
            }
        }
    }
}
