[data-component="contato"]{
    background-color: darken(color(white), 5%);

    .container{
        max-width: 950px;
    }

    form{
        padding: 20px 0;
        .message, .loading{
            background-color: rgba(color(white), .85);
            padding: 0 15px;
            text-align: center;
            * {
                color: color(gray-900);
            }
        }

        label.error{
            color: color(pink);
            font-size: 12px;
        }

        .form-control{
            border-radius: 30px;
            border: 1px solid darken(color(white), 15%);
            box-shadow: none;
            height: 60px;
            font-size: 16px;
            padding: 20px 30px;
            @include placeholder{
                color: rgba(color(gray), .6);
                font-style: italic;
                font-weight: 600;
            }
        }

        textarea.form-control{
            height: 180px;
            resize: none;
        }

        .btn{
            display: block;
            width: 100%;
            max-width: none;
            height: 45px;
        }
    }

    .sedes{
        margin-top: 20px;


        h4{
            font-size: 18px;

            @include media('lg'){
                font-size: 22px;
            }

            @include media('xl'){
                font-size: 28px;
            }
        }
        address{
            font-size: 14px;

            @include media('sm'){
                font-size: 16px;
            }
            @include media('lg'){
                font-size: 18px;
            }
        }
        p{
            font-weight: 400;
            font-size: 14px;

            span{
                font-size: percentage(14px / 17px);
                display: block;
                font-weight: 400;

                a{
                    color: color(gray-900);
                    font-size: percentage(20px / 17px);
                }
            }
            strong{
                font-weight: 600;
            }

            @include media('sm'){
                font-size: 17px;
            }
            @include media('md'){
                font-weight: 600;
                span{
                    a{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
