[data-component="curso-info"]{
    background-color: color(pink);
    position: relative;

    @include media('lg'){
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            height: 84px;
            width: 50vw;
            background-color: color(dark-pink);
            z-index: 1;
        }
    }

    .container{
        padding: 0;
        width: 100%;
        max-width: 1140px;
    }

    .items{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;

        > * {
            height: 65px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
        }

        p{
            color: color(white);
            font-size: 20px;
            line-height: 1;
            margin-bottom: 0;
            width: 100%;

            small{
                font-size: percentage( 11px / 20px );
            }
        }

        .item-nome{
            flex: 0 0 calc(100% - 84px);
            p{
                text-align: left;
            }
        }

        .item-logo{
            width: 84px;
            flex: 0 0 84px;
        }
        .item-modalidade, .item-turno, .item-tipo, .item-price{
            flex: 0 0 50%;
        }

        .item-cart{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .btn{
                max-width: 240px;
                width: 100%;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
            }
        }

        .item-price{
            p{
                display: block;
                font-size: 30px;
                font-weight: 200;

                span{
                    display: -webkit-flex;
                    display: -ms-flex;
                    display: flex;

                    justify-content: center;
                    align-items: center;
                }

                strong{
                    font-size: percentage( 17px / 40px );
                    vertical-align: middle;
                }

                small{
                    flex: 0 0 100%;
                    font-size: percentage( 15px / 40px );
                }
            }
        }
    }

    @include media('sm'){
        .items{
            .item-modalidade, .item-turno, .item-tipo{
                flex: 0 0 calc( 100% / 3 );
            }

            .item-price, .item-cart{
                flex: 0 0 50%;
            }
        }
    }

    @include media('md'){
        .items{
            > * {
                height: 84px;
            }
        }
    }

    @include media('lg'){
        .items{
            flex-wrap: nowrap;

            .item-nome, .item-modalidade, .item-turno, .item-tipo, .item-price, .item-cart{
                flex: 1 1 auto;
                width: auto;
            }

            .item-price{
                p{
                    font-size: 40px;
                }
            }
        }
    }
}


[data-component="curso-info-2"]{
    background-color: darken(color(white), 5%);
    .container{
        padding: 0;
    }

    .items{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        height: 165px;

        .item{
            height: 50px;
            width: calc( 100% / 2);
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 10px;
            margin-bottom: 5px;
            border-right: 1px solid darken(color(white), 15%);

            @media (max-width: 575px){
                &:nth-child(even){
                    border: none;
                }
            }
            @media (max-width: 767px){

            }
            @media (max-width: 991px){
                &:nth-child(3), &:nth-child(6){
                    border: none;
                }
            }

            figure{
                margin-bottom: 0;
            }

            .fd-svg{
                @include change-svg-color(color(pink));
                height: 25px;
                width: 25px;
                margin-right: 10px;
            }

            p{
                flex: 1 1 auto;
                font-size: 13px;
                line-height: 1;
                margin-bottom: 0;

                small{
                    font-size: 75%;
                }
            }
        }
    }

    @include media('sm'){
        .items{
            .item{
                width: calc(100% / 3);
            }
        }
    }

    @include media('lg'){
        .container{
            padding: 0 15px;
        }
        .items{
            flex-wrap: nowrap;
            height: 120px;

            .item{
                width: 100%;
                height: 75px;

                &:last-of-type{
                    border: none;
                }
                p{
                    white-space: nowrap;
                }
            }
        }
    }

    @include media('xl'){
        .items{
            justify-content: center;

            .item{
                width: auto;
                padding: 0 20px;
                p{
                    font-size: 20px;
                    small{
                        font-size: percentage( 12.5px / 20px )
                    }
                }
            }
        }
    }
}


[data-component="curso-banner"]{
    background: {
        size: cover;
        position: 50% 50%;
        repeat: no-repeat;
    };
    .overlay{
        padding: 120px 0 70px;

        &.black{
            background-color: rgba(color(black), .85);
        }

    }

    .curso-title{
        color: color(white);
        font-size: 30px;
        font-weight: 800;
        text-align: center;

        small{
            font-size: percentage( 17px / 56px );
            font-weight: 200;
            display: block;
        }
    }

    .curso-diferencial{
        background-color: transparent;
        border: 1px solid color(gold);
        color: color(gold);
        font-weight: 500;
        height: 39px;
        width: 175px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }

    .banner-price{
        color: color(white);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        line-height: 1;
        flex: 1 1 auto;
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 0;

        strong{
            font-weight: 500;
        }

        span, strong{
            font-size: percentage( 25px / 62px );
        }

        small{
            font-size: percentage( 14px / 62px );
        }
    }
    .btn{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-badge{
        text-align: center;
        width: 180px;
        height: 65px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 2px;
        overflow: hidden;
        border: 1px solid #fff;
        margin-top: 82px;

        img{
            max-width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    @include media('md'){
        .curso-title{
            font-size: 40px;
        }

        .banner-price{
            font-size: 40px;
        }
        .btn{
            height: 60px;
            width: 185px;
            flex: 0 0 185px;
        }
    }

    @include media('md'){

        .banner-price{
            font-size: 50px;
        }
    }

    @include media('xl'){
        .curso-title{
            font-size: 56px;
        }

        .banner-price{
            font-size: 62px;
        }
        .btn{
            height: 100px;
        }
    }

}


[data-component="form-curso"]{

    @include media('xl'){
        .container{
            padding: 0;
        }
    }
}

[data-component="main-content"]{
    margin-bottom: 100px;

    @include media('sm'){
        .container, .container-fluid{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        [data-component="tab-accordion"]{
            max-width: 80%;
            width: 100%;
            flex: 1 1 auto;
            padding-right: 60px;
        }

        .sidebar-curso{
            flex: 0 0 350px;
            width: 100%;
            max-width: 350px;
        }
    }

    @include media('xl'){
        [data-component="tab-accordion"]{
            padding-right: 155px;
        }
    }
}

.sidebar-curso{
    max-width: 350px;
    padding: 0 25px;
    margin-top: 50px;

    .sidebar-price{
        display: block;
        font-size: 40px;
        font-weight: 200;
        text-align: center;

        span{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;

            justify-content: center;
            align-items: center;
            line-height: 1;
        }

        strong{
            font-size: percentage( 32px / 77px );
            vertical-align: middle;
        }

        small{
            flex: 0 0 100%;
            font-size: percentage( 14px / 77px );
        }
    }

    .sidebar-item{
        border: 1px solid color(gray-100);
        border-radius: 60px;
        height: 58px;
        padding: 0 25px;

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: center;
        align-items: center;

        figure{
            margin-bottom: 0;
            width: 40px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
        }

        .fd-svg{
            width: 20px;
            height: 20px;
        }

        p{
            flex: 1 1 auto;
            line-height: 1;
            margin-bottom: 0;
            text-align: center;
            font-size: 16px;
            font-weight: 700;

            small{
                display: block;
                font-size: percentage( 14px / 16px );
            }
        }
    }

    .btn{
        height: 67px;
        width: 100%;
        max-width: 306px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include media('xl'){
        margin-top: 72px;

        .sidebar-price{
            font-size: 77px;
            font-weight: 300;
        }
    }

    .sidebar-form{
        position: relative;

        .message,
        .loading{
            padding: 0 15px;
            background-color: rgba(color(white), .55)!important;
            * {
                color: color(gray-900)!important;
            }
        }

        p{
            font-size: 13px;
        }

        .btn{
            border-radius: 50px;
            height: 30px;
            width: auto;
            padding: 0 25px;
            line-height: 30px;
            margin: 0 auto;
        }

        .form-control{
            box-shadow: none!important;
            height: 40px;
            border-radius: 50px;
            max-width: 220px;
            margin: {
                left: auto;
                right: auto;
            }
        }

        label.error{
            color: color(pink);
            font-size: 12px;
            display: block;
            text-align: center;
        }
    }
}
