[data-component="depoimentos"]{
    padding: 15vh 0;

    .depoimento{
        background-color: color(light-pink);
        padding: 70px 25px 20px;
        border-radius: 15px;
        margin-bottom: 30px;

        p{
            font-size: 14px;
            font-weight: 400;
            font-style: italic;
            color: #5c6771;
            position: relative;

            &:before{
                content: '“';
                position: absolute;
                top: -40px;
                font-style: normal;
                color: color(red);
                font-size: 57px;
                line-height: 1;
                vertical-align: bottom;
            }

            &:after{
                content: '”';
                position: absolute;
                top: 80%;
                right: 0;
                font-style: normal;
                color: color(red);
                font-size: 57px;
            }

            @include media('lg'){
                font-weight: 600;
            }
        }

        h5{
            color: color(black);
            font-size: 18px;
            font-weight: 900;
        }

        .d-flex{
            align-items: center;
            height: 80px;

            * {
                margin-bottom: 0;
            }

            figure{
                margin-right: 10px;
                height: 55px;
                width: 55px;

                img{
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    .btn{
        border-radius: 20px;
        padding: 12px 25px;
    }

    form{
        max-width: 836px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: 80px;

        label.error{
            color: color(pink);
            font-size: 12px;
        }

        h3{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 30px;
            position: relative;

            &:after{
                content: ' ';
                position: absolute;
                background-color: color(pink);
                height: 3px;
                width: 15px;
                width: 20px;
                bottom: -8px;
                left: 0;
            }
        }

        .message, .loading{
            background-color: rgba(color(white), .85);
            * { color: color(gray-900); }
        }

        .form-control{
            border-radius: 50px;
            height: 40px;
            border-color: color(pink);
            box-shadow: none!important;

            @include placeholder{
                font-size: 13px;
                color: rgba(color(gray), .85);
            }
        }

        textarea.form-control{
            height: 180px;
            border-radius: 15px;
            resize: none;
        }.btn{
            padding: {top: 0; bottom: 0}
            height: 40px;
        }
    }
}
