[data-component="institucional"]{
    background-color: darken(color(white), 5%);

    .intro{
        p{
            font-size: 16px;
            text-align: center;
            color: #595959;
            line-height: 1.1;
            max-width: 1000px;
            margin: 0 auto 1.6rem;

            @include media('lg'){
                font-size: 22px;
            }
        }
    }

    .h2{
        line-height: 1;
        text-align: center;
        font-weight: 900;
        font-size: 20px;
        margin-bottom: 7vh;

        small{
            color: color(gray-900);
            display: block;
            font-weight: 300;
            font-size: percentage( 32px / 47px );
        }

        @include media('md'){
            font-size: 47px;
        }
    }

    .h3{
        font-weight: 900;
    }

    .teachers{
        max-width: 1200px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;



        .teacher{
            flex: 0 0 calc( 100% / 2 - 10px );
            margin: 0 5px 20px;
            border-radius: 3px;
            overflow: hidden;
            cursor: pointer;

            figure{
                height: 150px;
                margin: 0;
                background: {
                    size: cover;
                    position: 50% 50%;
                    repeat: no-repeat;
                };
            }
            .caption{
                background-color: color(white);
                transition: all .2s ease;

                .name{
                    font-weight: 900;
                    font-size: 18px;
                    color: color(gray-900);
                    text-align: center;
                    max-width: 200px;
                    margin: 0 auto;
                    padding: 15px 0;

                    small{
                        margin-top: 13px;
                        display: block;
                        color: #bec2c6;
                        letter-spacing: .5px;
                    }
                }
            }

            &:hover{
                .caption{
                    background-color: color(red);
                    .name{
                        color: color(white);

                        small{
                            color: color(white);
                        }
                    }
                }
            }

            @include media('sm'){
                flex: 0 0 calc( 100% / 3 - 20px );
                margin: 0 10px 20px;
            }

            @include media('md'){
                figure{
                    height: 200px;
                }
            }

            @include media('lg'){
                flex: 0 0 calc( 100% / 4 - 30px );

                figure{
                    height: 270px;
                }
            }
        }
    }
}

.modal-teacher{
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 2500;
    transition: all .2s ease .5s;

    .backdrop{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(color(black), .85);
    }

    main{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: rgba(color(black), .8);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        transition: all .2s ease .4s;
        overflow: auto;

        @include media('lg'){
            align-items: center;
        }
    }
    .container{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        @include media('lg'){
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
        }
    }
    figure{
        opacity: 0;
        height: 150px;
        width: 100%;
        // flex: 0 0 350px;
        max-width: 150px;
        margin: 20px auto;
        border-radius: 70px;
        border: 2px solid color(red);
        background: {
            size: cover;
            position: 50% 50%;
            repeat: no-repeat;
        };
        transform: translate(0 , 50px);
        transition: all .2s ease .4s;

        @include media('lg'){
            height: 270px;
            flex: 0 0 350px;
            max-width: 350px;
            margin: 0;
        }
    }

    .content{
        flex: 1 1 auto;

        h4{
            opacity: 0;
            color: color(white);
            font-size: 44px;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            transform: translate(0 , 50px);
            transition: all .2s ease .3s;

            span{
                font-weight: 900;
                color: color(red);
                display: block;
            }
        }

        p{
            opacity: 0;
            font-size: 18px;
            color: color(white);
            font-weight: 300;
            max-width: 590px;
            margin: 0 auto;
            text-align: center;
            transform: translate(0 , 50px);
            transition: all .2s ease .2s;
        }

        .btn{
            opacity: 0;
            height: auto;
            padding: 2px 15px;
            border-radius: 15px;
            margin: 43px auto;
            color: color(gray-900);
            transform: translate(0 , 50px);
            transition: all .2s ease .1s;
        }
    }

    &.active{
        top: 0;
        transition: all .2s ease;

        main{
            top: 0;
            transition: all .2s ease .1s;
        }

        figure{
            opacity: 1;
            transform: translate(0 , 0);
            transition: opacity .5s ease .1s, transform .5s ease .1s;
        }

        .content{
            h4{
                opacity: 1;
                transform: translate(0 , 0);
                transition: all .2s ease .2s;
            }

            p{
                opacity: 1;
                transform: translate(0 , 0);
                transition: all .2s ease .3s;
            }

            .btn{
                opacity: 1;
                transform: translate(0 , 0);
                transition: all .2s ease .4s;
            }
        }

    }
}
