[data-component="videoaula-flat"]{
    background-color: color(gray-900);
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    aside, main{
        transition: all .1s ease;
    }

    aside{
        background-color: darken(color(white), 5%);
        padding: 0;
        position: fixed;
        left: -100vw;
        top: 0;
        width: 100vw;
        max-width: 600px;
        height: 100vh;
        z-index: 500;

        &.active{
            left: 0;
        }

        .aside-title{
            text-align: center;
            font-size: 18px;
            padding: 0 10px;
            position: relative;
            height: 250px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            > span{
                display: block;
            }

            > a {
                .fd-svg{
                    height: 15px;
                    width: 15px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
        }
        .aside-description{
            padding: 0 15px;
            width: 100%;
            text-align: left;
            font-size: 12px;

            * {
                text-align: left;
            }
        }

        .form-control{
            border: 1px solid darken(color(white), 20%);
            margin: 10px auto ;
            max-width: 460px;
            width: 80%;
        }

        .aside-items{
            height: calc(100vh - 270px);
            overflow: auto;

            .aside-items-title{
                color: darken(color(white), 40%);
                padding: 5px;
            }

            a{
                padding: 5px 15px;
                display: block;
                color: color(gray-900);

                .fd-svg{
                    height: 15px;
                    width: 15px;
                    margin-right: 15px;
                }

                &[data-status="assistido"]{
                    .fd-svg{
                        @include change-svg-color(color(green));
                    }
                }

                &[data-status="assistindo"]{
                    color: color(red);
                    .fd-svg{
                        @include change-svg-color(color(red));
                    }
                }

                &[data-status="pendente"]{
                    .fd-svg{
                        @include change-svg-color(rgba(color(gray), .5));
                    }
                }
            }
        }
    }

    main{
        .main-header{
            height: 150px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            a{
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                text-align: center;
                color: color(white);
                padding: 0 15px;
                font-size: 18px;
                line-height: 1;

                &:first-of-type{
                    flex: 0 0 100px;
                }
                &:last-of-type{
                    flex: 1 1 auto;
                }

                @include media('lg'){
                    &:first-of-type,
                    &:last-of-type {
                        flex: 0 0 160px;
                    }
                }
            }

            .main-title{
                color: color(white);
                padding: 0 15px;
                font-size: 20px;
            }
        }
    }

    nav{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        justify-content: flex-start;
        align-items: center;
        position: fixed;
        z-index: 901;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;

        a{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 80px;
            height: 60px;

            &:hover, &.selected{
                .fd-svg{
                    @include change-svg-color(color(pink));
                }
            }

            .fd-svg{
                width: 25px;
                height: 25px;
                @include change-svg-color(color(gray));
            }

            &.bg{
                background-color: rgba(color(white), .02);
            }
        }
    }


    @include media('sm'){
        nav{
            a{
                flex: 0 0 80px;
            }
        }
    }

    @include media('md'){
        main{
            .main-header{
                flex-wrap: nowrap;

                a{
                    flex: 0 0 150px;
                }
                .main-title{
                    flex: 1 1 auto;
                    text-align: center;
                }
            }
        }
    }

    @include media('lg'){
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        nav{
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;
            top: 0;
            left: auto;
            right: 0;
            bottom: 0;
            width: 84px;
            height: 100vh;
            overflow: visible;

            a{
                width: 84px;
                flex: 0 0 60px;
            }
        }
        main {
            width: calc( 100vw - 84px);
            padding: 0 0 0 25px;

            .embed-responsive{
                height: calc( 100vh - 170px);
            }
        }
    }

    @include media('xl'){


        aside{
            position: static;
            left: 0!important;
            max-width: 400px;
            &.active{
                margin-left: -400px;
            }

            &.active ~ main{
                width: calc( 100vw - 84px);
            }
        }

        main {
            width: calc( 100vw - 484px);

            .main-header{
                a{
                    font-size: 12px;
                }
            }
        }
    }

    // OVERLAY DO VIDEO
    main{
        .main-video{
            position: relative;
            overflow: hidden;
        }
    }
}


.modal-flat{
    position: fixed;
    top: 0;
    left: -400px;
    bottom: 0;
    height: 100vh;
    max-width: 400px;
    width: 100vw;
    background-color: darken(color(white), 5%);
    box-shadow: 0 0 15px rgba(color(black), .8);
    z-index: 902;
    transition: all .2s ease;

    &.active{
        left: 0;
    }

    > a {
        .fd-svg{
            height: 15px;
            width: 15px;
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }

    .modal-flat-title{
        padding: 15px 25px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .modal-flat-content{
        padding: 15px 20px;


        table{
            * {
                font-size: 12px;
            }
        }
    }

    @include media('sm'){
        .modal-flat-content{

            table{
                * {
                    font-size: 14px;
                }
            }
        }
    }
}
