[data-page="video-aula-atual"]{

    [data-component="class-option"]{
        background-color: darken(color(white), 5%);
        padding: 30px 0;

        .page-title{
            padding: 25px 0;

            h1{
                font-size: 20px;
                font-weight: 300;

                strong{
                    font-weight: 700;
                }
            }

            .opt{
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 50px;
                flex: 1 1 auto;

                .btn{
                    margin: 0 5px;
                }

                .percent{
                    background-color: color(pink);
                    border-radius: 60px;
                    height: 40px;
                    display: -webkit-flex;
                    display: -ms-flex;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 0 30%;
                    margin: 0 5px;
                    color: color(white);
                }
            }
        }

        @include media('lg'){
            .page-title{
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 80px;

                h1{
                    flex: 1 1 auto;
                    margin-bottom: 0;
                    font-size: 30px;
                }

                .opt{
                    justify-content: flex-end;

                    .btn{
                        margin: 0 5px;
                    }

                    .percent{
                        flex: 0 0 156px;
                    }
                }
            }
        }
    } // END CLASS OPTIONS

    [data-form="search-class"]{
        .form-group{

        }

        @include media('md'){
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            .form-group{
                flex: 0 0 calc(100% / 2 - 20px);
                margin: 0 10px;
            }
        }

        @include media('lg'){
            .form-group{
                flex: 0 0 calc(100% / 3 - 20px);
                margin: 0 10px;

                &:last-of-type{
                    flex: 0 0 calc(100% - 20px);
                }
            }
        }
    }

    .video-title{

        @include media('md'){
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p{
            flex: 1 1 auto;

            span{ margin-right: 5px; }

            @include media('md'){
                font-size: 20px;

                small{
                    font-size: 70%;
                }
            }

            @include media('xl'){
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                small{
                    flex-grow: 1;
                    text-align: center;
                }
            }

            small{
                display: block;
            }

            .fd-svg{
                height: 20px;
                width: 20px;
                @include change-svg-color(color(pink));
            }
        }

        .buttons{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;

            .btn{
                font-size: 11px;
                margin: 0;
                width: 33%;
                white-space: normal;
                line-height: 1;

                .fd-svg{
                    height: 12px;
                    width: 12px;
                    margin-right: 10px;
                    display: none;
                }
            }
            @include media('md'){
                .btn{
                    width: auto;
                    font-size: 13px;
                    line-height: 1.4;
                    margin: 0 5px;

                    .fd-svg{
                        display: inline-block;
                    }
                }
            }
        }

    }

    .video-section{
        max-width: 1170px;
        padding: 0 15px;
        margin: {
            left: auto;
            right: auto;
        }
        .sidebar-video{
            padding: 0 15px;
            background-color: color(white);

            .cke_editable{
                height: 250px;
            }
        }

        form{
            border: 1px solid color(gray-100);
            padding: 15px;
            p{
                line-height: 1.1;
            }
        }

        .aside-logo{
            max-width: 120px;
            display: block;
            margin: 25px auto;
        }

        .row-video{
            width: 100%;

            .embed-responsive{
                width: 100%;
            }

            @include media('lg'){
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                flex-wrap: wrap;

                [data-width]{
                    transition: all .1s ease;
                }

                [data-width="100"]{
                    width: 100% !important;
                }
                [data-width="66"]{
                    width: calc( (100% / 3) * 2 )!important;
                }
                [data-width="50"]{
                    width: 50% !important;
                }
                [data-width="33"]{
                    width: calc( 100% / 3 )!important;
                }
            }
        }
    }
    .video-options{
        margin-top: 50px;
        width: 100%;
        max-width: 1140px;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;


        .video-rating{
            display: flex;
            height: 50px;
            justify-content: space-between;
            align-items: center;
            margin: 15px auto;
            width: 220px;

            @include media('sm'){
                margin: 0;
            }
        }

        .br-theme-bootstrap-stars{
            height: 18px;
        }
        .video-comment{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 auto;
            padding: 0 15px;
            margin-top: 15px;
            margin-bottom: 15px;

            .btn{
                display: block;
                width: 100%;
            }

            @include media('sm'){
                margin: 0;
                .btn{
                    width: auto;
                }
            }
        }

        .change-favs,
        .change-light{
            .btn{
                height: 40px;
                width: 40px;
                padding: 0;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                font-size: 15px;
                .fd-svg{
                    width: 15px;
                    height: 15px;
                    margin-right: 0;
                    @include change-svg-color(color(gray-900))
                }
            }

            @include media('md'){
                .btn{
                    height: 58px;
                    width: 58px;
                    font-size: 25px;
                    .fd-svg{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }

        .change-size{
            display: none;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            padding: 0 15px;
            margin: 0 5px;
            border: 1px solid color(gray-100);

            @include media('lg'){
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
            }

            span{
                display: none;
                line-height: 1;
            }

            a{
                padding: 5px 10px;
                margin: 0 5px;
                border-radius: 3px;
                background-color: darken(color(white), 15%);
                color: color(gray-900);

                &.selected{
                    background-color: color(red);
                }
            }

            @include media('md'){
                height: 58px;
                span{
                    display: block;
                }
            }
        }

        @include media('lg'){
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    [data-component="painel"]{
        background-color: darken(color(white), 5%);

        .btn-collapse{
            background-color: transparent;
            font-size: 17px;
            position: relative;

            i{
                height: 30px;
                width: 30px;
                display: none;
                border: 2px solid color(gray-900);
                border-radius: 50px;
                position: absolute;
                left: -50px;

                &:after, &:before{
                    transition: all .2s ease;
                }

                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: calc(50% - 1px );
                    height: 60%;
                    width: 2px;
                    margin: 0;
                    background-color: color(gray-900);
                    transform: translate(0, -50%);
                }

                &:before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 2px;
                    width: 60%;
                    margin: 0;
                    background-color: color(gray-900);
                    transform:  translate(-50%, -50%);
                }

                @include media('xl'){
                    display: block;
                }
            }

            &.collapsed{
                i{
                    &:after{
                        height: 0;
                    }
                }
            }

            .fd-svg{
                @include change-svg-color(color(pink));
                height: 22px;
                width: 22px;
                margin-right: 15px;
            }
        }

        .row-materiais{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            .btn{
                flex: 0 0 45%;
                margin: 0 2.5% 10px;
                font-size: 13px;
            }

            .fd-select-3{
                flex: 0 0 95%;
                margin: 0 2.5% 10px;
            }

            @include media('md'){
                .btn{
                    flex: 0 0 25%;
                    margin-top: 25px;
                }

                .fd-select-3{
                    flex: 0 0 65%;
                }
            }

            @include media('lg'){
                padding-top: 50px;

                .fd-select-3{
                    position: relative;

                    label{
                        position: absolute;
                        top: -30px;
                        left: 0;
                    }
                }
            }

            @include media('xl'){
                .btn {
                    flex: 0 0 auto;
                    margin: 0 5px;
                }
                .fd-select-3{
                    flex: 0 0 345px;
                }
            }
        }

        .row-disciplina{
            padding-top: 50px;

            .fd-select-3{
                max-width: 282px;
                width: 100%;
            }

            @include media('lg'){
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                > *{
                    width: auto;
                    margin: 0 5px;
                }

                .fd-select-3 {
                    @include media('lg'){
                        position: relative;

                        label{
                            position: absolute;
                            top: -30px;
                            left: 0;
                        }
                    }
                }
            }
        }

        .h2{
            font-weight: 300;
            text-align: center;
            font-size: 18px;

            strong{
                font-weight: 900;
            }

            @include media('md'){
                font-size: 22px;
            }

            @include media('xl'){
                font-size: 26px;
            }
        }
    }
}

.fd-table{
    .fd-row{

        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        min-height: 90px;
        border-bottom: 1px solid darken(color(white), 15%);

        .fd-name{
            flex: 0 0 100%;

            @include media('xl'){
                flex: 20%;
                line-height: 1;
            }
        }

        .fd-options{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span{
                @include change-svg-color(darken(color(white), 60%));
            }

            .btn{
                background-color: darken(color(white), 10%);
                margin: 0 5px;
                color: darken(color(white), 60%);
                font-size: 14px;
                border-radius: 5px;
                height: 41px;

                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: center;
                align-items: center;


                strong{
                    display: inline-block;
                    width: 50px;
                    text-align: center;
                }

                .fd-svg{
                    width: 15px;
                    height: 15px;
                    @include change-svg-color(darken(color(white), 60%));
                    margin-right: 0;

                    @include media('lg'){
                        margin-right: 8px;
                    }
                }

                &.pink{
                    background-color: color(pink);
                    color: color(white);
                    .fd-svg{
                        @include change-svg-color(color(white));
                    }
                }
            }
        }
    }
}

.br-theme-bootstrap-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}

.br-theme-bootstrap-stars .br-widget a {
    font: normal normal normal 18px/1 'Glyphicons Halflings';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}

.br-theme-bootstrap-stars .br-widget a:after {
    content: url("../images/balloon_gray.png");
    color: #d2d2d2;
}

.br-theme-bootstrap-stars .br-widget a.br-active:after {
    color: #EDB867;
    content: url("../images/balloon.png");
}

.br-theme-bootstrap-stars .br-widget a.br-selected:after {
    color: #EDB867;
    content: url("../images/balloon.png");
}

.br-theme-bootstrap-stars .br-widget .br-current-rating {
    display: none;
}

.br-theme-bootstrap-stars .br-readonly a {
    cursor: default;
}

@media print {
    .br-theme-bootstrap-stars .br-widget a:after {
        content: url("../images/balloon.png");
        color: black;
    }
    .br-theme-bootstrap-stars .br-widget a.br-active:after,
    .br-theme-bootstrap-stars .br-widget a.br-selected:after {
        content: url("../images/balloon_gray.png");
        color: black;
    }
}


[data-page="video-aula-atual"]{
    .row-video{
        &__content{
            position: relative;
            overflow: hidden;
        }
    }

    .main-overlay-next__content{
        bottom: 0;
        background-color: rgba(#000, .85);
    }





    @include media('lg'){
        [data-width="50"], [data-width="33"]{
            .video-mask{
                &__title{
                    &.larger{ font-size: 30px; }
                    &.smaller{ font-size: 25px; }
                }
                &__brand img{ max-width: 70%; }
                &__play-button{ max-width: 60px; }
                &__description{ font-size: 22px; }
            }
        }

        [data-width="66"]{
            .video-mask{
                &__title{
                    &.larger{ font-size: 40px; }
                    &.smaller{ font-size: 32px; }
                }
                &__brand img{ max-width: 80%; }
                &__play-button{ max-width: 80px; }
                &__description{ font-size: 25px; }
            }
        }
    }

    @include media('lg'){
        [data-width="33"],[data-width="50"]{
            .main-overlay-next{
                &__content{ height: 200px; padding: 15px 10px; }
                &__text{ padding: 0 15px; margin-right: 0; }
                a.btn{ font-size: 10px;}
                &__text p{ font-size: 12px; }
                &__figure span{ font-size: 10px; }
                &__image{ height: 140px; }
                &__again{ height: 120px; width: 200px; }
            }
        }

        [data-width="66"]{
            .main-overlay-next{
                &__content{ height: 200px; padding: 15px 10px; }
                &__text{ padding: 0 15px; margin-right: 0; }
                &__text p{ font-size: 14px; }
                &__figure span{ font-size: 12px; }
                &__image{ height: 140px; }
                &__again{ height: 120px; width: 200px; }
            }
        }
    }

    @include media('lg'){
        [data-width="66"], [data-width="33"], [data-width="50"]{
            .main-overlay-info{
                max-width: 260px;

                .cards{
                    max-width: 250px;

                    .card-header { height: 125px; }
                    .card-header *{
                        font-size: 13px;
                    }
                    .card-header .fd-svg{
                        width: 50px;
                        height: 50px;
                    }
                    .card-footer p{
                        font-size: 16px;
                    }
                    .card-footer span{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
